In [1]:
import pandas as pd 
import numpy as np
import clean_jor
import tables_jor
from sklearn.neighbors import KNeighborsRegressor, KNeighborsClassifier
from text_processor_class import *

In [2]:
pd.set_option("display.max_columns",None)
pd.set_option('display.max_rows', 10)

In [3]:
txt = text_processor()

Initialized text_processor class

/home/jzar/.local/lib/python3.9/site-packages/sklearn/base.py:329: UserWarning: Trying to unpickle estimator CountVectorizer from version 0.23.2 when using version 1.0.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/modules/model_persistence.html#security-maintainability-limitations
  warnings.warn(
/home/jzar/.local/lib/python3.9/site-packages/sklearn/base.py:329: UserWarning: Trying to unpickle estimator MultinomialNB from version 0.23.2 when using version 1.0.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/modules/model_persistence.html#security-maintainability-limitations
  warnings.warn(

In [15]:
ascent_df6 = pd.read_csv('../data/ascent_df7.csv',low_memory=False, index_col=0)

In [16]:
countries = ascent_df6.country.value_counts(dropna = False).index

In [17]:
%%time
ascent_df8 = ascent_df6.copy()
for country in countries:
    print(country)
    crags = ascent_df8[ascent_df8.country == country].crag.value_counts(dropna = False).index
    
    for crag in crags:  
        sectors_from_crag = ascent_df8[ascent_df8.crag == crag].sector       
        lst = txt.replace_frequent_with_table(list(sectors_from_crag), show = True)
        ascent_df8.loc[sectors_from_crag.index,'sector'] = lst 
        
ascent_df8.to_csv('../data/ascent_df8.csv')
'''
The piece of code above takes:
CPU times: user 12min 12s, sys: 1.89 s, total: 12min 14s
Wall time: 12min 12s
'''

ascent_df8 = pd.read_csv('../data/ascent_df8.csv',low_memory=False, index_col=0)

esp

               original            most_freq
0             can jorba            can jorba
1              collbato             collbato
2            el castell           el castell
3              la piula             la piula
4           prohibitivo          prohibitivo
..                  ...                  ...
24        odio africano        odio africano
25               pueblo               pueblo
26  roquer del penitent  roquer del penitent
27           sant benet           sant benet
28           vinya nova           vinya nova

[29 rows x 2 columns]

             original          most_freq
0               abajo              abajo
1               alfar              alfar
2                bolo               bolo
3           el camino          el camino
4        las colmenas       las colmenas
..                ...                ...
18   portero de noche   portero de noche
19            primate            primate
20         sombretivo         sombretivo
21  valdecabras norte  valdecabras norte
22    valdecabras sur    valdecabras sur

[23 rows x 2 columns]

                 original              most_freq
0               can torxa              can torxa
1              espadelles             espadelles
2           bloc del pork          bloc del pork
3             ca la marta            ca la marta
4                cabernet               cabernet
..                    ...                    ...
24              la solana              la solana
25  raco de la coma closa  raco de la coma closa
26                 regina                 regina
27                 sector                 sector
28               superior               superior

[29 rows x 2 columns]

                original             most_freq
0           ca la isabel          ca la isabel
1            ca lonassis           ca lonassis
2               ca lorro              ca lorro
3        can gans dionis       can gans dionis
4             can marges            can marges
..                   ...                   ...
30     siuranella centre     siuranella centre
31        siuranella est        siuranella est
32              solarium              solarium
33  grotta dell arenauta  grotta dell arenauta
34    morning glory wall    morning glory wall

[35 rows x 2 columns]

                   original                most_freq
0                  ali baba                 ali baba
1             aquest any si            aquest any si
2                    bikini                   bikini
3                   bisagra                  bisagra
4               gran boveda              gran boveda
..                      ...                      ...
21          pince sans rire          pince sans rire
22                piscineta                piscineta
23                   repisa                   repisa
24                 solarium                 solarium
25  travesia de los angeles  travesia de los angeles

[26 rows x 2 columns]

         original      most_freq
0           alaro          alaro
1       el bunker      el bunker
2    cala barques   cala barques
3   cala magraner  cala magraner
4   cala santanyi  cala santanyi
..            ...            ...
33        sestret        sestret
34         sombra         sombra
35        tijuana        tijuana
36    valldemossa    valldemossa
37       xurrasco       xurrasco

[38 rows x 2 columns]

           original        most_freq
0         algarrobo        algarrobo
1         el balcon        el balcon
2            balkon           balkon
3         canaveral        canaveral
4           ceguera          ceguera
..              ...              ...
17           peneta           peneta
18         sex shop         sex shop
19           techos           techos
20  tierra de nadie  tierra de nadie
21         tio jose         tio jose

[22 rows x 2 columns]

         original      most_freq
0         austria        austria
1         la boda        la boda
2    buena sombra   buena sombra
3          camino         camino
4           canon          canon
..            ...            ...
25          suizo          suizo
26         techos         techos
27        torreon        torreon
28      triangulo      triangulo
29  virgin canyon  virgin canyon

[30 rows x 2 columns]

                        original                     most_freq
0                       callejon                      callejon
1                  cancho butron                 cancho butron
2           cancho de los brezos          cancho de los brezos
3          cancho de los muertos         cancho de los muertos
4                    el castillo                   el castillo
..                           ...                           ...
27                pena del reloj                pena del reloj
28                         placa                         placa
29  quebrantaherraduras inferior  quebrantaherraduras inferior
30               quebrantahuesos               quebrantahuesos
31                  tres coronas                  tres coronas

[32 rows x 2 columns]

               original            most_freq
0                 alfar                alfar
1        antonio martin       antonio martin
2         cielo liquido        cielo liquido
3     cueva de la zarza    cueva de la zarza
4               desmond              desmond
..                  ...                  ...
17              purpura              purpura
18  quebrantaherraduras  quebrantaherraduras
19      quebrantahuesos      quebrantahuesos
20               sangre               sangre
21         stradivarius         stradivarius

[22 rows x 2 columns]

          original       most_freq
0           ermita          ermita
1   barranco fondo  barranco fondo
2          bloques         bloques
3        bordillos       bordillos
4         callejon        callejon
..             ...             ...
15         mirador         mirador
16            plus            plus
17          sombra          sombra
18       tabardazo       tabardazo
19      waterworld      waterworld

[20 rows x 2 columns]

          original        most_freq
0          gruyere          gruyere
1       paret gran       paret gran
2          disblia          disblia
3     el diafragma     el diafragma
4       la siberia       la siberia
5       les gaites       les gaites
6           mordor           mordor
7         mur blau         mur blau
8  placa de lheura  placa de lheura
9        roc colom        roc colom

            original         most_freq
0             bombos            bombos
1          carretera         carretera
2            cascada           cascada
3         la caverna        la caverna
4        el elefante       el elefante
..               ...               ...
6    muerto superior   muerto superior
7             el rio            el rio
8               luna              luna
9   pared del muerto  pared del muerto
10        san martin        san martin

[11 rows x 2 columns]

       original    most_freq
0        arriba       arriba
1         belit        belit
2   los bloques  los bloques
3          bolo         bolo
4       cortijo      cortijo
..          ...          ...
12   iniciacion   iniciacion
13   la casilla   la casilla
14     peperoli     peperoli
15      tequila      tequila
16   via lactea   via lactea

[17 rows x 2 columns]

         original      most_freq
0          bosque         bosque
1           campa          campa
2       chorreras      chorreras
3           circo          circo
4          corral         corral
..            ...            ...
7   muro de abajo  muro de abajo
8       principal      principal
9      san martin     san martin
10      san pedro      san pedro
11          techo          techo

[12 rows x 2 columns]

             original           most_freq
0        buena sombra        buena sombra
1  como la vida misma  como la vida misma
2      desplomilandia      desplomilandia
3            el cable            el cable
4             la boda             la boda
5     pozo de la mona     pozo de la mona
6               suizo               suizo
7           triangulo           triangulo

          original       most_freq
0          bovedas         bovedas
1       california      california
2         la canal        la canal
3         el circo        el circo
4           el rio          el rio
..             ...             ...
12      muro techo      muro techo
13     pared negra     pared negra
14      placa gris      placa gris
15  placas del sol  placas del sol
16       planeta x       planeta x

[17 rows x 2 columns]

             original           most_freq
0           carretera           carretera
1  cingles de la llum  cingles de la llum
2             fashion             fashion
3           kuestelon           kuestelon
4             la pera             la pera
5            la selva            la selva
6       marcant estil       marcant estil
7            pasarela            pasarela
8           principal           principal
9            solarium            solarium

        original     most_freq
0      el balcon     el balcon
1      bordillos     bordillos
2       callejon      callejon
3     cara norte    cara norte
4        central       central
..           ...           ...
7     iniciacion    iniciacion
8   kale borroka  kale borroka
9      pena roya     pena roya
10      pikutxis      pikutxis
11       torreon       torreon

[12 rows x 2 columns]

              original            most_freq
0           can simiro           can simiro
1               arboli               arboli
2            can mansa            can mansa
3              el dard              el dard
4             el falco             el falco
5              lermita              lermita
6  raco de lemmanuelle  raco de lemmanuelle

      original    most_freq
0  los alcores  los alcores
1  los bloques  los bloques
2      central      central
3    el camino    el camino
4   las placas   las placas
5    monodromo    monodromo

       original     most_freq
0          bove          bove
1       bovedon       bovedon
2         final         final
3      fundicio      fundicio
4    hidraulics    hidraulics
5     pena roja     pena roja
6        placas        placas
7        potent        potent
8  super heroes  super heroes
9          vici          vici

    original  most_freq
0     abuelo     abuelo
1    derecha    derecha
2    pasillo    pasillo
3    ferrari    ferrari
4    fisuras    fisuras
5   la presa   la presa
6    pantano    pantano
7      perea      perea
8  principal  principal

               original             most_freq
0              callejon              callejon
1     mirador romantico     mirador romantico
2               el muro               el muro
3                 grado                 grado
4                 norte                 norte
5               peonias               peonias
6  vacaciones en el mar  vacaciones en el mar

     original   most_freq
0      boveda      boveda
1    cadillac    cadillac
2  la campana  la campana
3       cueva       cueva
4     goteron     goteron
5     la raja     la raja
6       nuevo       nuevo
7     sismico     sismico

     original  most_freq
0       abajo      abajo
1      arriba     arriba
2    callejon   callejon
3     central    central
4     entrada    entrada
..        ...        ...
10      norte      norte
11      presa      presa
12  principal  principal
13     repisa     repisa
14   superior   superior

[15 rows x 2 columns]

         original       most_freq
0           altet           altet
1          balcon          balcon
2  barranco fondo  barranco fondo
3    cova petxina    cova petxina
4   cueva pechina   cueva pechina
5          cuevas          cuevas
6          verano          verano

      original   most_freq
0      babylon     babylon
1        canal       canal
2    carretera   carretera
3        cueva       cueva
4     la curva    la curva
..         ...         ...
10     mirador     mirador
11      mordor      mordor
12  placa gris  placa gris
13      recodo      recodo
14       tunel       tunel

[15 rows x 2 columns]

       original     most_freq
0   arico abajo   arico abajo
1  arico arriba  arico arriba
2       el hoyo       el hoyo
3        el rio        el rio
4   las bovedas   las bovedas
5     las vegas     las vegas
6  los naranjos  los naranjos
7      vistamar      vistamar

         original       most_freq
0  cabeza de rino  cabeza de rino
1     competicion     competicion
2    culo de rino    culo de rino
3     el elefante     el elefante
4           final           final
5       wild side       wild side
6    piz ciavazes    piz ciavazes

            original          most_freq
0             boveda             boveda
1       chilam balam       chilam balam
2             corral             corral
3              cueva              cueva
4           ventanas           ventanas
5  tajo de la madera  tajo de la madera

      original    most_freq
0     angelico     angelico
1    diabolico    diabolico
2      el palo      el palo
3      erotico      erotico
4   la casilla   la casilla
5  las palomas  las palomas

          original        most_freq
0      las devotas      las devotas
1  foz de la canal  foz de la canal

     original   most_freq
0  cargolaire  cargolaire
1     calders     calders
2     central     central
3     classic     classic
4        cova        cova
5     derecha     derecha
6    desploms    desploms
7       dreta       dreta
8    esquerra    esquerra
9     mirador     mirador

               original             most_freq
0  cingles de sant joan  cingles de sant joan
1              el libro              el libro
2          raco de misa          raco de misa
3     roca de les hores     roca de les hores

           original         most_freq
0          atlantis          atlantis
1        bellavista        bellavista
2          can pixa          can pixa
3   castell sespasa   castell sespasa
4    cova del bisbe    cova del bisbe
5         iniciacio         iniciacio
6         la cupula         la cupula
7  pont den valenti  pont den valenti

     original   most_freq
0     bovedas     bovedas
1     bruixes     bruixes
2  cara norte  cara norte
3        nord        nord
4       north       north
5      regina      regina

      original    most_freq
0  largenteria  largenteria
1         cine         cine
2       cinema       cinema
3   la pedrera   la pedrera
4    panoramix    panoramix

         original       most_freq
0          cicera          cicera
1          cuenca          cuenca
2           cueva           cueva
3  el lado oscuro  el lado oscuro
4         paraiso         paraiso
5          placas          placas
6         rumenes         rumenes
7    sector nuevo    sector nuevo

             original           most_freq
0             berrios             berrios
1            la canal            la canal
2           carretera           carretera
3              el rio              el rio
4        la guarderia        la guarderia
5              matrix              matrix
6              mordor              mordor
7  pared de la virgen  pared de la virgen

           original         most_freq
0            arriba            arriba
1         chorreras         chorreras
2  penya de laguila  penya de laguila
3         principal         principal
4            sector            sector
5   tierra de nadie   tierra de nadie

        original      most_freq
0     anfiteatro     anfiteatro
1           buda           buda
2     gran techo     gran techo
3     pared roja     pared roja
4  punta aubarca  punta aubarca
5         sombra         sombra

           original         most_freq
0          callejon          callejon
1       chopera sur       chopera sur
2             cueva             cueva
3              este              este
4  huerto de mencho  huerto de mencho
5         panoramix         panoramix
6            rincon            rincon
7       rocas rojas       rocas rojas

            original          most_freq
0           el circo           el circo
1            erotico            erotico
2          los pinos          los pinos
3  pared de enfrente  pared de enfrente
4          principal          principal
5     sobre el vivac     sobre el vivac

               original             most_freq
0          el escondite          el escondite
1       espigon derecho       espigon derecho
2                 grado                 grado
3              huesitos              huesitos
4                  luna                  luna
5  pared de la estrella  pared de la estrella

             original           most_freq
0          la cantera          la cantera
1               cueva               cueva
2          iniciacion          iniciacion
3     jardin flotante     jardin flotante
4         manolodromo         manolodromo
5                muro                muro
6  pared del africano  pared del africano
7      placas del sol      placas del sol
8            solarium            solarium

               original             most_freq
0                 cueva                 cueva
1                dablam                dablam
2  el hombre de mentira  el hombre de mentira
3              el nicho              el nicho
4             la moneda             la moneda
5              la placa              la placa
6             la solana             la solana

       original     most_freq
0  afrikan wall  afrikan wall
1      drinking      drinking
2      el antro      el antro
3      elefante      elefante
4       mirador       mirador
5  pared inerte  pared inerte
6  placa xalmet  placa xalmet
7       vermell       vermell

           original        most_freq
0           camping          camping
1         carretera        carretera
2            cuevas           cuevas
3           el tubo          el tubo
4        iniciacion       iniciacion
..              ...              ...
7       pared negra      pared negra
8   pilas alcalinas  pilas alcalinas
9    placas del sol   placas del sol
10            presa            presa
11    xulo panderas    xulo panderas

[12 rows x 2 columns]

           original         most_freq
0            centre            centre
1          desploms          desploms
2             dreta             dreta
3             final             final
4        font freda        font freda
5  grau dels matxos  grau dels matxos
6        paret gran        paret gran

   original most_freq
0   bovedas   bovedas
1   casares   casares
2  la plana  la plana

    original  most_freq
0   antosina   antosina
1     goikua     goikua
2      korea      korea
3    mugarri    mugarri
4  san elias  san elias

        original      most_freq
0       casanova       casanova
1     font freda     font freda
2  joc de pilota  joc de pilota
3     la gravera     la gravera
4        lestany        lestany
5     riugreixer     riugreixer
6   roc de lalou   roc de lalou

              original            most_freq
0  pas de la mala dona  pas de la mala dona
1         penya senyal         penya senyal
2        cova olivella        cova olivella
3                oasis                oasis
4        penya ginesta        penya ginesta
5               sombra               sombra

           original        most_freq
0           central          central
1            centre           centre
2            cinema           cinema
3           classic          classic
4           derecha          derecha
..              ...              ...
6        font freda       font freda
7         izquierda        izquierda
8             placa            placa
9         principal        principal
10  tierra de nadie  tierra de nadie

[11 rows x 2 columns]

       original     most_freq
0     desplomes     desplomes
1       gruyere       gruyere
2  motherfucker  motherfucker
3        placas        placas
4       quesito       quesito

      original    most_freq
0       boveda       boveda
1      bovedon      bovedon
2        cueva        cueva
3    la pancha    la pancha
4        nuevo        nuevo
5  pared negra  pared negra
6     piramide     piramide
7       rincon       rincon
8   sudamerica   sudamerica
9    vallecito    vallecito

            original          most_freq
0        los bloques        los bloques
1           el circo           el circo
2              fakir              fakir
3              janis              janis
4  oceano sin limite  oceano sin limite

     original   most_freq
0       abajo       abajo
1      arriba      arriba
2  bosquecito  bosquecito
3   la virgen   la virgen
4   lagarillo   lagarillo
5       norte       norte
6       nuevo       nuevo
7       oeste       oeste

      original    most_freq
0   bargagoria   bargagoria
1         bota         bota
2       eoceno       eoceno
3     pikutxis     pikutxis
4  prehistoria  prehistoria

   original most_freq
0      roca      roca
1  sector d  sector d
2     tunel     tunel

              original            most_freq
0  barranc de grillons  barranc de grillons
1              camp de              camp de
2               sector               sector

           original         most_freq
0           calders           calders
1         la falsia         la falsia
2       la moretona       la moretona
3         la visera         la visera
4  revolt de laliga  revolt de laliga

         original       most_freq
0         central         central
1          diedro          diedro
2           lower           lower
3           upper           upper
4  zorreras bajas  zorreras bajas

    original  most_freq
0   conguito   conguito
1  cuarenton  cuarenton
2   mallorca   mallorca
3   mejicano   mejicano
4    sestret    sestret
5   xurrasco   xurrasco

               original             most_freq
0  castell de les dames  castell de les dames
1       clot de lespasa       clot de lespasa
2               el toll               el toll
3         les saleretes         les saleretes

         original       most_freq
0    agulles nord    agulles nord
1     coll piquer     coll piquer
2  paret del grau  paret del grau
3      samarkanda      samarkanda

               original             most_freq
0               la vena               la vena
1  castell de les dames  castell de les dames
2             saleretes             saleretes
3            paret gran            paret gran
4               parking               parking
5               secteur               secteur

             original           most_freq
0           la boveda           la boveda
1           el corral           el corral
2  placas del cortijo  placas del cortijo
3             la raja             la raja
4           la virgen           la virgen

    original  most_freq
0  cova gran  cova gran
1      cueva      cueva
2   futbolin   futbolin

        original     most_freq
0    arico abajo   arico abajo
1         arriba        arriba
2    los bloques   los bloques
3         bosque        bosque
4         el rio        el rio
..           ...           ...
7          limbo         limbo
8   los naranjos  los naranjos
9      los pinos     los pinos
10        techos        techos
11         vivac         vivac

[12 rows x 2 columns]

     original   most_freq
0   colegiata   colegiata
1      cuevas      cuevas
2    la cueva    la cueva
3  microondas  microondas
4     pasillo     pasillo

    original  most_freq
0     el rut     el rut
1  la pancha  la pancha
2       ruth       ruth

         original       most_freq
0          arriba          arriba
1      bosquecito      bosquecito
2     el colmillo     el colmillo
3      el pasillo      el pasillo
4      pared roja      pared roja
5  puente de roca  puente de roca
6      yugoslavia      yugoslavia

       original     most_freq
0    elecciones    elecciones
1         norte         norte
2  super heroes  super heroes

     original   most_freq
0     camping     camping
1    desploms    desploms
2   el curull   el curull
3   la solana   la solana
4  penya alta  penya alta

   original most_freq
0   caidero   caidero
1      muro      muro
2   palmera   palmera
3     presa     presa
4  topatras  topatras

            original          most_freq
0  barranc de lavern  barranc de lavern
1          la visera          la visera
2            patiras            patiras

         original       most_freq
0   cueva la paja   cueva la paja
1    cueva oculta    cueva oculta
2  dias de lluvia  dias de lluvia
3        la cueva        la cueva
4   placas al sol   placas al sol

    original  most_freq
0  desplomes  desplomes
1   el panal   el panal
2     techos     techos

                original              most_freq
0               cabreros               cabreros
1                derecha                derecha
2  lanchon de los bueyes  lanchon de los bueyes
3                oriente                oriente

         original       most_freq
0          roures          roures
1  roc den betriu  roc den betriu

           original         most_freq
0         chorreras         chorreras
1       competicion       competicion
2             cueva             cueva
3         deportivo         deportivo
4          desplome          desplome
5          el circo          el circo
6  sector principal  sector principal
7            sherpa            sherpa
8            tocayo            tocayo

       original     most_freq
0    can simiro    can simiro
1       la proa       la proa
2  lo soterrani  lo soterrani

      original    most_freq
0       fuente       fuente
1        salon        salon
2  santa lucia  santa lucia
3        techo        techo

     original   most_freq
0       campa       campa
1     campana     campana
2  la collada  la collada
3   la fuente   la fuente
4   principal   principal

    original  most_freq
0   antosina   antosina
1     goikua     goikua
2      korea      korea
3    mugarri    mugarri
4  san elias  san elias

           original        most_freq
0     cielo liquido    cielo liquido
1        grajo free       grajo free
2              luna             luna
3         maracaibo        maracaibo
4           parking          parking
..              ...              ...
7            poyero           poyero
8           purpura          purpura
9   quebrantahuesos  quebrantahuesos
10           sangre           sangre
11     stradivarius     stradivarius

[12 rows x 2 columns]

          original        most_freq
0         callejon         callejon
1             tubo             tubo
2   obras selectas   obras selectas
3  sol de invierno  sol de invierno

     original   most_freq
0     central     central
1      centre      centre
2        cova        cova
3       dreta       dreta
4    esquerra    esquerra
5   principal   principal
6  tres ponts  tres ponts

         original       most_freq
0      callejones      callejones
1  cancho bermejo  cancho bermejo

              original            most_freq
0  roquer del penitent  roquer del penitent

       original     most_freq
0  agulles nord  agulles nord
1          cova          cova
2         cueva         cueva
3      desplome      desplome
4   exploradors   exploradors
5       sendero       sendero

         original       most_freq
0        el reloj        el reloj
1  pena del reloj  pena del reloj
2  puente de roca  puente de roca
3           tunel           tunel

    original  most_freq
0  bordillos  bordillos
1    boulder    boulder
2     visera     visera
3      pison      pison

      original    most_freq
0  el callejon  el callejon
1     la curva     la curva
2    la grieta    la grieta
3      la raja      la raja

             original           most_freq
0        amphitheatre        amphitheatre
1                este                este
2               lower               lower
3  piratas del caribe  piratas del caribe
4               placa               placa
5               upper               upper

        original      most_freq
0  cala santanyi  cala santanyi
1        tijuana        tijuana

      original    most_freq
0     arapiles     arapiles
1    bordillos    bordillos
2     el panal     el panal
3  los buitres  los buitres
4      mosaico      mosaico
5        norte        norte

     original   most_freq
0    desplome    desplome
1  el fronton  el fronton
2       nuevo       nuevo

    original  most_freq
0  belvedere  belvedere
1      canal      canal
2  el dorado  el dorado
3  el rincon  el rincon

     original   most_freq
0  el escalon  el escalon
1    la selva    la selva

        original      most_freq
0         camino         camino
1        lestret        lestret
2  pared del eco  pared del eco
3       piramide       piramide

    original  most_freq
0      arnea      arnea
1    cantera    cantera
2    central    central
3    espolon    espolon
4  principal  principal

  original most_freq
0   cucala    cucala
1    farol     farol

       original     most_freq
0   cueva chica   cueva chica
1  cueva grande  cueva grande
2      la cueva      la cueva
3     main cave     main cave

        original      most_freq
0  cala santanyi  cala santanyi
1       mallorca       mallorca

    original  most_freq
0  izquierda  izquierda
1   sartalde   sartalde

   original most_freq
0  castillo  castillo
1   modesto   modesto

     original   most_freq
0  las cuevas  las cuevas
1   pared sur   pared sur

      original    most_freq
0     ali baba     ali baba
1        ceuse        ceuse
2  competicion  competicion

          original        most_freq
0      espinacales      espinacales
1  tierra de nadie  tierra de nadie

               original             most_freq
0  contrafort de rumbau  contrafort de rumbau
1                 dreta                 dreta
2                  muro                  muro

          original        most_freq
0           balcon           balcon
1        el bosque        el bosque
2         calvario         calvario
3        la fuente        la fuente
4       gran techo       gran techo
5          parking          parking
6           placas           placas
7  sol de invierno  sol de invierno

               original             most_freq
0        asesina rutina        asesina rutina
1  quinto de iniciacion  quinto de iniciacion
2            las tainas            las tainas
3                sector                sector

           original         most_freq
0  cantonera grande  cantonera grande
1          nogalito          nogalito
2           paraiso           paraiso

     original   most_freq
0  penya roja  penya roja

      original    most_freq
0  cueva honda  cueva honda
1    la cupula    la cupula
2       la ola       la ola

        original      most_freq
0  placa central  placa central
1         corral         corral
2        derecha        derecha
3       desplome       desplome
4      izquierda      izquierda
5      principal      principal
6         rasika         rasika

        original      most_freq
0          alaro          alaro
1  cala magraner  cala magraner
2          cueva          cueva
3        sestret        sestret

          original        most_freq
0           arriba           arriba
1  mas de la penya  mas de la penya

     original   most_freq
0       cueva       cueva
1  gran techo  gran techo

       original     most_freq
0        camino        camino
1  gran canaria  gran canaria
2       gullich       gullich

        original      most_freq
0           cova           cova
1          cueva          cueva
2   el escondite   el escondite
3         puente         puente
4  jurassic wall  jurassic wall
5     las placas     las placas
6          presa          presa

         original       most_freq
0       chorreras       chorreras
1  mas de domingo  mas de domingo

     original   most_freq
0  bombo suis  bombo suis
1       dreta       dreta
2   guacamole   guacamole

    original  most_freq
0     cuevas     cuevas
1    derecha    derecha
2  pena roja  pena roja
3     secret     secret

          original        most_freq
0           corral           corral
1          derecha          derecha
2           placas           placas
3  puig de garrafa  puig de garrafa
4           sector           sector
5         solarium         solarium
6           sombra           sombra

            original          most_freq
0            espolon            espolon
1          excalibur          excalibur
2              oeste              oeste
3  paret dels coloms  paret dels coloms
4           sa gubia           sa gubia

     original   most_freq
0       final       final
1    fundicio    fundicio
2  hidraulics  hidraulics
3      potent      potent
4        vici        vici

         original       most_freq
0           abajo           abajo
1  antonio martin  antonio martin
2          arriba          arriba
3           cueva           cueva
4          la ola          la ola
5           medio           medio
6          puente          puente
7          sector          sector

   original most_freq
0  cara sur  cara sur
1     norte     norte

           original         most_freq
0       el castillo       el castillo
1           el muro           el muro
2     pena castilla     pena castilla
3  sector principal  sector principal

    original  most_freq
0  el molino  el molino
1    merilla    merilla

     original   most_freq
0  bellavista  bellavista
1     central     central
2      corral      corral
3        cova        cova
4  paret gran  paret gran
5   principal   principal

  original most_freq
0    nuevo     nuevo

         original       most_freq
0  castillo lower  castillo lower
1     el castillo     el castillo
2           playa           playa

           original         most_freq
0          la placa          la placa
1  paret de la mola  paret de la mola
2       roca blanca       roca blanca

          original        most_freq
0        cova gran        cova gran
1  figols a lombra  figols a lombra
2            xapat            xapat

      original    most_freq
0      cascada      cascada
1      central      central
2         cova         cova
3  les casetes  les casetes

      original    most_freq
0    carretera    carretera
1  piedra lisa  piedra lisa

    original  most_freq
0    fronton    fronton
1  principal  principal

           original         most_freq
0  flight to africa  flight to africa
1           lestret           lestret
2            sector            sector

    original  most_freq
0  chorreras  chorreras
1    el muro    el muro
2   fantasia   fantasia
3  la virgen  la virgen
4    tsunami    tsunami

           original         most_freq
0           central           central
1           classic           classic
2           la proa           la proa
3         la visera         la visera
4           parking           parking
5  sector principal  sector principal

    original  most_freq
0    central    central
1   la cueva   la cueva
2    meandro    meandro
3  principal  principal

  original most_freq
0    fondo     fondo
1    presa     presa

     original   most_freq
0       canon       canon
1   carretera   carretera
2      corral      corral
3  cueva sala  cueva sala

     original   most_freq
0  el pasillo  el pasillo
1  la pedrera  la pedrera
2    la placa    la placa

         original       most_freq
0  calzada romana  calzada romana
1        pont nou        pont nou

    original  most_freq
0  pena alta  pena alta
1     techos     techos

  original most_freq
0   corral    corral
1    cueva     cueva

           original         most_freq
0  corral de cabras  corral de cabras
1           mirador           mirador
2           paraiso           paraiso
3            placas            placas
4           tsunami           tsunami

          original        most_freq
0           balcon           balcon
1         calvario         calvario
2            canon            canon
3         castillo         castillo
4          derecha          derecha
5           fuente           fuente
6       gran techo       gran techo
7          parking          parking
8           placas           placas
9  sol de invierno  sol de invierno

   original most_freq
0  amazonia  amazonia
1   classic   classic
2  yosemite  yosemite

               original             most_freq
0              callejon              callejon
1  cancho de los brezos  cancho de los brezos
2       pena del aguila       pena del aguila
3       pico de la miel       pico de la miel

     original   most_freq
0      bombos      bombos
1  pared roja  pared roja
2      techos      techos

   original most_freq
0    cuevas    cuevas
1  la cueva  la cueva
2     playa     playa
3    sector    sector

           original         most_freq
0           ferrari           ferrari
1  sector principal  sector principal

        original      most_freq
0    el matadero    el matadero
1  placas slalom  placas slalom

    original  most_freq
0  carretera  carretera
1   castillo   castillo
2  el puente  el puente

       original     most_freq
0  cala barques  cala barques
1      mallorca      mallorca

  original most_freq
0   boveda    boveda
1    calpe     calpe
2   cuevas    cuevas
3   placas    placas

      original    most_freq
0       el riu       el riu
1  els gegants  els gegants

          original        most_freq
0         sectoret         sectoret
1  tierra de nadie  tierra de nadie

   original most_freq
0    cinema    cinema
1  triangle  triangle

     original   most_freq
0       cueva       cueva
1    desplome    desplome
2     mirador     mirador
3       nuevo       nuevo
4  pena maria  pena maria

    original  most_freq
0      abajo      abajo
1     arriba     arriba
2    central    central
3  chorreras  chorreras
4      placa      placa
5   superior   superior

      original    most_freq
0  aurrekoatxa  aurrekoatxa
1      espolon      espolon

      original    most_freq
0     bismarck     bismarck
1  el callejon  el callejon
2    centinela    centinela

   original most_freq
0     cueva     cueva
1  desplome  desplome
2     placa     placa

     original   most_freq
0   centinela   centinela
1   desplomes   desplomes
2  huajalotes  huajalotes
3   izquierda   izquierda

   original most_freq
0  elefante  elefante
1  la placa  la placa
2     pacha     pacha

       original     most_freq
0  la pellisera  la pellisera

    original  most_freq
0  el bunker  el bunker
1      cueva      cueva
2   mallorca   mallorca
3     placas     placas

       original     most_freq
0        arriba        arriba
1  gran canaria  gran canaria
2          main          main
3     principal     principal
4    via lactea    via lactea

          original        most_freq
0            final            final
1  picara viborita  picara viborita
2        principal        principal
3           sombra           sombra

  original most_freq
0  nagusia   nagusia

     original   most_freq
0       calpe       calpe
1        casa        casa
2   los pinos   los pinos
3  right side  right side

      original    most_freq
0    carretera    carretera
1    cuarenton    cuarenton
2      derecha      derecha
3         main         main
4     mallorca     mallorca
5      parking      parking
6  valldemossa  valldemossa
7     xurrasco     xurrasco

    original  most_freq
0  el puente  el puente
1     la ola     la ola
2     sector     sector

             original           most_freq
0              arriba              arriba
1  como la vida misma  como la vida misma
2               oeste               oeste
3        tajo bermejo        tajo bermejo

          original        most_freq
0          la vela          la vela
1  pena del aguila  pena del aguila
2          torreon          torreon

    original  most_freq
0  carretera  carretera

     original   most_freq
0  la cantera  la cantera

       original     most_freq
0         abajo         abajo
1        arriba        arriba
2  la carretera  la carretera
3     principal     principal

       original     most_freq
0          cova          cova
1  el escondite  el escondite
2      la cueva      la cueva

            original          most_freq
0  barranc del torto  barranc del torto

  original most_freq
0     lolo      lolo

            original          most_freq
0  comuna de caimari  comuna de caimari
1              cueva              cueva
2               muro               muro
3        las perchas        las perchas
4            parking            parking
5          principal          principal

         original       most_freq
0            cova            cova
1  port de soller  port de soller

    original  most_freq
0  el molino  el molino

         original       most_freq
0      la moreria      la moreria
1  mas de domingo  mas de domingo

               original             most_freq
0  cueva de los aviones  cueva de los aviones

   original most_freq
0   entrada   entrada
1  hipnosis  hipnosis

      original    most_freq
0  el callejon  el callejon
1        cueva        cueva
2     la canal     la canal

     original   most_freq
0      balcon      balcon
1      cosmos      cosmos
2  la reserva  la reserva
3    mallorca    mallorca
4      sombra      sombra

  original most_freq
0   tocayo    tocayo

  original most_freq
0  central   central
1     left      left
2     main      main
3    right     right

   original most_freq
0  cara sud  cara sud
1     dreta     dreta

       original     most_freq
0     bordillos     bordillos
1    la cantera    la cantera
2        corral        corral
3       cortijo       cortijo
4         indio         indio
5  la carretera  la carretera

     original   most_freq
0      bombos      bombos
1   chorreras   chorreras
2    el circo    el circo
3  iniciacion  iniciacion
4      la ola      la ola

    original  most_freq
0  carretera  carretera
1   castillo   castillo
2    derecha    derecha

      original    most_freq
0      aladino      aladino
1  el castillo  el castillo
2      el tejo      el tejo

       original     most_freq
0          cova          cova
1  els sumiders  els sumiders

     original   most_freq
0  cara norte  cara norte
1  la creveta  la creveta
2   main wall   main wall

       original     most_freq
0  les paparres  les paparres

        original      most_freq
0       cara sur       cara sur
1          norte          norte
2  paisaje lunar  paisaje lunar
3     south face     south face

         original       most_freq
0  el lado oscuro  el lado oscuro
1       principal       principal
2          sector          sector

    original  most_freq
0  carretera  carretera
1    central    central
2    fisuras    fisuras

    original  most_freq
0    el muro    el muro
1  la fuente  la fuente
2    parking    parking
3     techos     techos

       original     most_freq
0  agulles nord  agulles nord
1   exploradors   exploradors
2       sendero       sendero

    original  most_freq
0  alpirando  alpirando

    original  most_freq
0    fronton    fronton
1     el rio     el rio
2    la proa    la proa
3  triangulo  triangulo

     original   most_freq
0       calpe       calpe
1  cara norte  cara norte
2    cara sur    cara sur
3   pared sur   pared sur
4  south face  south face

  original most_freq
0     alto      alto
1   pueblo    pueblo

     original   most_freq
0  microondas  microondas
1     pasillo     pasillo
2     torreon     torreon

     original   most_freq
0   carretera   carretera
1       dreta       dreta
2    esquerra    esquerra
3        nord        nord
4  riugreixer  riugreixer

   original most_freq
0  la placa  la placa
1     pacha     pacha

    original  most_freq
0      campa      campa
1  chorreras  chorreras
2      circo      circo
3     corral     corral
4   kaparrak   kaparrak
5      techo      techo

    original  most_freq
0     grotte     grotte
1  la cupula  la cupula

      original    most_freq
0  roca rodona  roca rodona

             original           most_freq
0          la aigueta          la aigueta
1  la borda darnaldet  la borda darnaldet
2          la cantera          la cantera

          original        most_freq
0           centre           centre
1  clot de lespasa  clot de lespasa

  original most_freq
0   nevero    nevero

   original most_freq
0     dreta     dreta
1  esquerra  esquerra
2    repisa    repisa

  original most_freq
0   boveda    boveda
1    canon     canon
2   techos    techos

         original       most_freq
0         la paja         la paja
1  dias de lluvia  dias de lluvia

     original   most_freq
0  iniciacion  iniciacion
1     mirador     mirador
2       oasis       oasis

        original      most_freq
0        entrada        entrada
1     la reserva     la reserva
2      principal      principal
3  reserva india  reserva india
4       sector a       sector a
5       superior       superior

    original  most_freq
0     arriba     arriba
1  el balcon  el balcon
2   diamante   diamante

     original   most_freq
0  anfiteatro  anfiteatro
1  el castell  el castell
2      el riu      el riu
3   iniciacio   iniciacio
4  paret gran  paret gran

    original  most_freq
0     boveda     boveda
1       cova       cova
2      grota      grota
3  la solana  la solana

      original    most_freq
0  cingle redo  cingle redo

  original most_freq
0   bosque    bosque
1   sector    sector
2   sektor    sektor

      original    most_freq
0       canyon       canyon
1     mur blau     mur blau
2     panorama     panorama
3  via ferrata  via ferrata

     original   most_freq
0  la aigueta  la aigueta
1   la fuente   la fuente

     original   most_freq
0       altet       altet
1  cara norte  cara norte
2        este        este
3        nord        nord

    original  most_freq
0  altea col  altea col
1      calpe      calpe

      original    most_freq
0  competicion  competicion
1        cueva        cueva
2    desplomes    desplomes
3    principal    principal

    original  most_freq
0    central    central
1    derecha    derecha
2  izquierda  izquierda

     original   most_freq
0  iniciacion  iniciacion

   original most_freq
0    arriba    arriba
1  mallorca  mallorca
2    sector    sector

       original     most_freq
0  la pellisera  la pellisera

   original most_freq
0  desploms  desploms
1  esquerra  esquerra
2     placa     placa
3     salon     salon

        original      most_freq
0  paisaje lunar  paisaje lunar
1        pasillo        pasillo

   original most_freq
0     fondo     fondo
1    techos    techos
2  vistamar  vistamar

  original most_freq
0  can fil   can fil
1    cueva     cueva

       original     most_freq
0        arriba        arriba
1     carretera     carretera
2     desplomes     desplomes
3  grau des ruc  grau des ruc
4      esquerra      esquerra
5       parking       parking
6       derecha       derecha

    original  most_freq
0    derecha    derecha
1  izquierda  izquierda
2       main       main
3      south      south

    original  most_freq
0  cova gran  cova gran
1      cueva      cueva
2       left       left
3   mallorca   mallorca
4      right      right

    original  most_freq
0     boveda     boveda
1  carretera  carretera
2      norte      norte

    original  most_freq
0      arico      arico
1  principal  principal

    original  most_freq
0    entrada    entrada
1      fondo      fondo
2  frontales  frontales

          original        most_freq
0            calpe            calpe
1         mallorca         mallorca
2  penyal des grau  penyal des grau

    original  most_freq
0  carretera  carretera
1  el rincon  el rincon

  original most_freq
0  derecha   derecha
1    fakir     fakir
2  fronton   fronton

    original  most_freq
0     diedro     diedro
1  principal  principal

        original      most_freq
0  joc de pilota  joc de pilota

     original   most_freq
0    desplome    desplome
1    la cueva    la cueva
2  las placas  las placas

    original  most_freq
0    central    central
1     placas     placas
2      nuevo      nuevo
3  pena roya  pena roya

    original  most_freq
0     pueblo     pueblo
1  principal  principal

      original    most_freq
0        cueva        cueva
1  valldemossa  valldemossa

   original most_freq
0   fraguel   fraguel
1  mallorca  mallorca

    original  most_freq
0      canon      canon
1  electrico  electrico
2    entrada    entrada
3       muro       muro

  original most_freq
0  central   central
1   sector    sector

    original  most_freq
0    central    central
1   esquerra   esquerra
2  izquierda  izquierda
3  principal  principal

             original           most_freq
0          la cantera          la cantera
1  la borda darnaldet  la borda darnaldet

      original    most_freq
0  manolodromo  manolodromo

    original  most_freq
0  principal  principal

    original  most_freq
0     arriba     arriba
1  belvedere  belvedere
2  el dorado  el dorado
3  el rincon  el rincon

   original most_freq
0     norte     norte
1  cara sur  cara sur
2     oeste     oeste

  original most_freq
0   sector    sector

    original  most_freq
0     arriba     arriba
1     bombos     bombos
2   la cueva   la cueva
3  principal  principal

             original           most_freq
0           el balcon           el balcon
1             la raja             la raja
2  piratas del caribe  piratas del caribe
3               techo               techo

  original most_freq
0   corral    corral

   original most_freq
0  esquerra  esquerra
1  felanitx  felanitx

     original   most_freq
0  el pasillo  el pasillo
1    la placa    la placa

     original   most_freq
0        cova        cova
1       dreta       dreta
2    esquerra    esquerra
3  paret gran  paret gran
4    sector d    sector d

          original        most_freq
0            dreta            dreta
1  es grau des ruc  es grau des ruc
2         esquerra         esquerra
3         mallorca         mallorca

    original  most_freq
0  el camino  el camino
1    pantano    pantano

   original most_freq
0  paparres  paparres

   original most_freq
0  solarium  solarium

   original most_freq
0  big wall  big wall
1   entrada   entrada
2     fondo     fondo
3      left      left

  original most_freq
0    abajo     abajo
1   arriba    arriba
2  el hoyo   el hoyo

   original most_freq
0  big wall  big wall
1   entrada   entrada

           original         most_freq
0  sector principal  sector principal

    original  most_freq
0      canal      canal
1  las vegas  las vegas
2  los pinos  los pinos

     original   most_freq
0  tres ponts  tres ponts

  original most_freq
0  parking   parking

     original   most_freq
0  la cantera  la cantera
1   el molino   el molino

      original    most_freq
0     colmenas     colmenas
1  manolodromo  manolodromo

    original  most_freq
0  el bosque  el bosque
1     ermita     ermita
2     placas     placas

  original most_freq
0   cuevas    cuevas

        original      most_freq
0  jurassic wall  jurassic wall

  original most_freq
0  parking   parking

  original most_freq
0    canon     canon
1   cuevas    cuevas
2   sherpa    sherpa
3     tubo      tubo

      original    most_freq
0       arriba       arriba
1  las palomas  las palomas

     original   most_freq
0       final       final
1  hidraulics  hidraulics
2      potent      potent

    original  most_freq
0  chorreras  chorreras
1   desplome   desplome
2     placas     placas

     original   most_freq
0       abajo       abajo
1   principal   principal
2  summertime  summertime

      original    most_freq
0       africa       africa
1  roca blanca  roca blanca

        original      most_freq
0    el matadero    el matadero
1     la pedrera     la pedrera
2  placas slalom  placas slalom

   original most_freq
0  la cueva  la cueva

    original  most_freq
0  el molino  el molino
1   sector d   sector d

    original  most_freq
0    derecha    derecha
1  izquierda  izquierda

    original  most_freq
0  la boveda  la boveda

  original most_freq
0     left      left
1     main      main

       original     most_freq
0  los naranjos  los naranjos

    original  most_freq
0    central    central
1  desplomes  desplomes
2    espolon    espolon
3     placas     placas

   original most_freq
0   bloques   bloques
1  la cueva  la cueva

    original  most_freq
0     arriba     arriba
1  gorg blau  gorg blau
2     placas     placas

      original    most_freq
0       arriba       arriba
1  el castillo  el castillo
2        cueva        cueva

    original  most_freq
0  carretera  carretera
1     sector     sector

        original      most_freq
0  penya ginesta  penya ginesta
1   penya senyal   penya senyal
2        central        central

  original most_freq
0     cova      cova
1    cueva     cueva

     original   most_freq
0  riugreixer  riugreixer

      original    most_freq
0  el callejon  el callejon

     original   most_freq
0       abajo       abajo
1  la cantera  la cantera
2     central     central
3     derecha     derecha
4   principal   principal

    original  most_freq
0   el cable   el cable
1  principal  principal

    original  most_freq
0  principal  principal

  original most_freq
0  derecha   derecha
1     left      left
2    right     right

    original  most_freq
0  chorreras  chorreras
1  desplomes  desplomes
2      placa      placa

        original      most_freq
0   penya senyal   penya senyal
1  penya ginesta  penya ginesta

   original most_freq
0  desplome  desplome

    original  most_freq
0  principal  principal

   original most_freq
0  castillo  castillo
1    diedro    diedro

     original   most_freq
0   carretera   carretera
1  iniciacion  iniciacion
2       oeste       oeste

  original most_freq
0   africa    africa
1   cuevas    cuevas

    original  most_freq
0  izquierda  izquierda
1   la cueva   la cueva

  original most_freq
0  casares   casares

   original most_freq
0  la cueva  la cueva

      original    most_freq
0    el bosque    el bosque
1  el castillo  el castillo

  original most_freq
0     main      main

  original most_freq
0  central   central
1     muro      muro

    original  most_freq
0  altea col  altea col
1  pena roja  pena roja

       original     most_freq
0   cueva chica   cueva chica
1  cueva grande  cueva grande
2        placas        placas

      original    most_freq
0        cueva        cueva
1  las perchas  las perchas
2     mallorca     mallorca

   original most_freq
0  pasarela  pasarela

  original most_freq
0    placa     placa

  original most_freq
0     left      left
1    right     right

          original        most_freq
0      pared negra      pared negra
1  pared principal  pared principal

     original   most_freq
0  la cantera  la cantera
1   la solana   la solana

           original         most_freq
0  penya de laguila  penya de laguila

    original  most_freq
0    nagusia    nagusia
1  principal  principal

     original   most_freq
0  las placas  las placas
1       norte       norte

             original           most_freq
0             central             central
1             derecha             derecha
2      desplomilandia      desplomilandia
3           izquierda           izquierda
4  la borda darnaldet  la borda darnaldet

  original most_freq
0   sector    sector

    original  most_freq
0  toix este  toix este

     original   most_freq
0     lermita     lermita
1  via lactea  via lactea

    original  most_freq
0    el dado    el dado
1  principal  principal
2  triangulo  triangulo

  original most_freq
0  patiras   patiras

   original most_freq
0  cara sur  cara sur
1     oeste     oeste

  original most_freq
0  frontal   frontal
1  fronton   fronton

  original most_freq
0    cueva     cueva
1  parking   parking

    original  most_freq
0  principal  principal

    original  most_freq
0  la ermita  la ermita

    original  most_freq
0  el bosque  el bosque
1    el muro    el muro

          original        most_freq
0           ermita           ermita
1  tierra de nadie  tierra de nadie

          original        most_freq
0   desplomilandia   desplomilandia
1  pozo de la mona  pozo de la mona

  original most_freq
0   crag x    crag x

     original   most_freq
0  el castell  el castell

     original   most_freq
0  las placas  las placas

  original most_freq
0   rasika    rasika

      original    most_freq
0       cirque       cirque
1     desplome     desplome
2  las devotas  las devotas

  original most_freq
0  boulder   boulder

          original        most_freq
0  clot de lespasa  clot de lespasa
1        saleretes        saleretes

        original      most_freq
0    el matadero    el matadero
1  placas slalom  placas slalom

  original most_freq
0     left      left
1    right     right

       original     most_freq
0         calpe         calpe
1  cueva grande  cueva grande
2     toix este     toix este

  original most_freq
0   ermita    ermita

  original most_freq
0    cueva     cueva

    original  most_freq
0  izquierda  izquierda
1  principal  principal

  original most_freq
0     bota      bota

    original  most_freq
0  deportivo  deportivo
1     sombra     sombra

           original         most_freq
0  revolt de laliga  revolt de laliga

   original most_freq
0     korea     korea
1  mallorca  mallorca

  original most_freq
0  vermell   vermell

  original most_freq
0  pedrera   pedrera

  original most_freq
0  central   central
1    dreta     dreta
2  el muro   el muro

               original             most_freq
0            las tainas            las tainas
1  quinto de iniciacion  quinto de iniciacion

   original most_freq
0  yosemite  yosemite

  original most_freq
0    norte     norte
1    oeste     oeste

      original    most_freq
0  los bloques  los bloques

    original  most_freq
0   callejon   callejon
1  iniciacio  iniciacio

  original most_freq
0   corral    corral

  original most_freq
0  cantera   cantera

   original most_freq
0  callejon  callejon
1   derecha   derecha

   original most_freq
0  callejon  callejon

        original      most_freq
0  paisaje lunar  paisaje lunar
1      vallecito      vallecito

  original most_freq
0   corral    corral

     original   most_freq
0  iniciacion  iniciacion

   original most_freq
0  castillo  castillo
1     cueva     cueva

    original  most_freq
0  la solana  la solana

  original most_freq
0    abajo     abajo
1     alto      alto
2  caidero   caidero

    original  most_freq
0  principal  principal

       original     most_freq
0       calders       calders
1  les paparres  les paparres

        original      most_freq
0           bolo           bolo
1  placas slalom  placas slalom

    original  most_freq
0  la fuente  la fuente

       original     most_freq
0     chorreras     chorreras
1      mallorca      mallorca
2  sector nuevo  sector nuevo

   original most_freq
0  corredor  corredor
1  roadside  roadside

           original         most_freq
0           patiras           patiras
1  penya de laguila  penya de laguila

     original   most_freq
0      bombos      bombos
1  pared roja  pared roja

                    original                  most_freq
0                     fuente                     fuente
1  muro de las lamentaciones  muro de las lamentaciones

           original         most_freq
0  sector principal  sector principal

   original most_freq
0  sector a  sector a
1  superior  superior

  original most_freq
0  boulder   boulder
1  mirador   mirador

  original most_freq
0    cueva     cueva
1  pasillo   pasillo
2   techos    techos

  original most_freq
0   boveda    boveda
1     cova      cova
2    cueva     cueva
3    techo     techo

  original most_freq
0   sector    sector

    original  most_freq
0  carretera  carretera
1      norte      norte

  original most_freq
0  disblia   disblia

     original   most_freq
0  san martin  san martin

   original most_freq
0    arriba    arriba
1  esquerra  esquerra

   original most_freq
0  la selva  la selva

  original most_freq
0     cova      cova
1    techo     techo

   original most_freq
0  cara sur  cara sur

    original  most_freq
0  main wall  main wall

         original       most_freq
0  asesina rutina  asesina rutina

   original most_freq
0  callejon  callejon
1    la ola    la ola

  original most_freq
0   ermita    ermita

         original       most_freq
0  los albercones  los albercones

  original most_freq
0   techos    techos

     original   most_freq
0     gruyere     gruyere
1  paret gran  paret gran

       original     most_freq
0     el corral     el corral
1    la cantera    la cantera
2  la carretera  la carretera

    original  most_freq
0  principal  principal

  original most_freq
0    campa     campa
1    cueva     cueva

     original   most_freq
0  la campana  la campana
1   principal   principal

  original most_freq
0   sombra    sombra

    original  most_freq
0  principal  principal

  original most_freq
0    korea     korea

   original most_freq
0  paradise  paradise

    original  most_freq
0  el dorado  el dorado

  original most_freq
0  central   central
1  derecha   derecha

  original most_freq
0  el muro   el muro
1     zona      zona

    original  most_freq
0     bosque     bosque
1  principal  principal

    original  most_freq
0  principal  principal
1  surgencia  surgencia

       original     most_freq
0        arriba        arriba
1  gran canaria  gran canaria
2         nuevo         nuevo

   original most_freq
0  cara sur  cara sur

   original most_freq
0     abajo     abajo
1    arriba    arriba
2    cicera    cicera
3  superior  superior

       original     most_freq
0  cala barques  cala barques

    original  most_freq
0  los pinos  los pinos

  original most_freq
0    presa     presa

     original   most_freq
0     central     central
1  la reserva  la reserva

     original   most_freq
0        cova        cova
1  les perxes  les perxes

     original   most_freq
0  las cuevas  las cuevas

       original     most_freq
0          main          main
1      mallorca      mallorca
2  porto cristo  porto cristo

         original       most_freq
0  desplomilandia  desplomilandia

  original most_freq
0    tunel     tunel

      original    most_freq
0    el bunker    el bunker
1  el castillo  el castillo

     original   most_freq
0  la cantera  la cantera

        original      most_freq
0  placas slalom  placas slalom

  original most_freq
0  pantano   pantano

    original  most_freq
0     bosque     bosque
1  principal  principal

    original  most_freq
0  principal  principal

              original            most_freq
0  sa mola de felanitx  sa mola de felanitx
1              tijuana              tijuana

    original  most_freq
0  principal  principal

  original most_freq
0    cueva     cueva

     original   most_freq
0  pared roja  pared roja

     original   most_freq
0     gruyere     gruyere
1  paret gran  paret gran

  original most_freq
0   arboli    arboli

    original  most_freq
0    derecha    derecha
1  izquierda  izquierda

  original most_freq
0   cuenca    cuenca

  original most_freq
0  derecha   derecha
1    techo     techo

  original most_freq
0  calders   calders

    original  most_freq
0  main wall  main wall
1  principal  principal

  original most_freq
0  el dado   el dado
1   sector    sector

  original most_freq
0    tunel     tunel

  original most_freq
0    dreta     dreta

  original most_freq
0    cueva     cueva

     original   most_freq
0  cara norte  cara norte

  original most_freq
0  camping   camping

  original most_freq
0    norte     norte

      original    most_freq
0  manolodromo  manolodromo

   original most_freq
0    techos    techos
1  vistamar  vistamar

      original    most_freq
0  la moretona  la moretona

  original most_freq
0  pasillo   pasillo

             original          most_freq
0    nuova ossessione   nuova ossessione
1        amphitheatre       amphitheatre
2          anfiteatro         anfiteatro
3              bunker             bunker
4        cala mancina       cala mancina
..                ...                ...
26          salinella          salinella
27  scomparto rifiuti  scomparto rifiuti
28           silenzio           silenzio
29     torre isulidda     torre isulidda
30         white wall         white wall

[31 rows x 2 columns]

    original  most_freq
0  la fuente  la fuente

    original  most_freq
0  la fuente  la fuente

   original most_freq
0  desplome  desplome

    original  most_freq
0      abajo      abajo
1  principal  principal

        original      most_freq
0  placas al sol  placas al sol

  original most_freq
0   boveda    boveda
1    cueva     cueva

  original most_freq
0     arco      arco

  original most_freq
0  parking   parking

    original  most_freq
0      abajo      abajo
1  desplomes  desplomes
2     placas     placas

         original       most_freq
0          arriba          arriba
1  puente de roca  puente de roca

         original       most_freq
0  puente de roca  puente de roca

    original  most_freq
0  el puente  el puente

  original most_freq
0  lestret   lestret

     original   most_freq
0  entrepenas  entrepenas
1     sestret     sestret

   original most_freq
0  el falco  el falco

    original  most_freq
0  principal  principal

   original most_freq
0     final     final
1  la presa  la presa
2    sombra    sombra

     original   most_freq
0  iniciacion  iniciacion

  original most_freq
0    pison     pison

    original  most_freq
0  la visera  la visera

    original  most_freq
0  carretera  carretera

    original  most_freq
0  el bosque  el bosque

    original  most_freq
0  el molino  el molino
1   mallorca   mallorca

    original  most_freq
0  el molino  el molino

     original   most_freq
0    colmenas    colmenas
1  pared roja  pared roja

  original most_freq
0    cueva     cueva

  original most_freq
0     cova      cova

  original most_freq
0    abajo     abajo

      original    most_freq
0    chorreras    chorreras
1  las palomas  las palomas

  original most_freq
0    norte     norte

     original   most_freq
0  las placas  las placas

  original most_freq
0   verano    verano

    original  most_freq
0  principal  principal

   original most_freq
0  elefante  elefante

    original  most_freq
0  carretera  carretera

  original most_freq
0    cueva     cueva

          original        most_freq
0  pared principal  pared principal

              original            most_freq
0  roquer del penitent  roquer del penitent

  original most_freq
0    canon     canon
1    cueva     cueva

     original   most_freq
0   carretera   carretera
1  iniciacion  iniciacion

  original most_freq
0  sestret   sestret

    original  most_freq
0  el camino  el camino

     original   most_freq
0  la gravera  la gravera

    original  most_freq
0  principal  principal

   original most_freq
0  la cueva  la cueva

  original most_freq
0   boveda    boveda

      original    most_freq
0  les bruixes  les bruixes

             original           most_freq
0  la borda darnaldet  la borda darnaldet

        original      most_freq
0      escalator      escalator
1  king of bongo  king of bongo
2      principal      principal
3         secret         secret

      original    most_freq
0  valldemossa  valldemossa

  original most_freq
0   centre    centre

    original  most_freq
0  principal  principal

  original most_freq
0  cantera   cantera

   original most_freq
0  triangle  triangle

          original        most_freq
0  puig de garrafa  puig de garrafa

    original  most_freq
0  vallecito  vallecito

   original most_freq
0  mallorca  mallorca

   original most_freq
0  cara sur  cara sur

    original  most_freq
0  chorreras  chorreras

   original most_freq
0  santeria  santeria

           original         most_freq
0  grau dels matxos  grau dels matxos
1         iniciacio         iniciacio

  original most_freq
0  fisuras   fisuras

    original  most_freq
0  chorreras  chorreras
1  merendero  merendero

      original    most_freq
0  la calavera  la calavera

    original  most_freq
0  el camino  el camino

  original most_freq
0  casares   casares

     original   most_freq
0  pared roja  pared roja

  original most_freq
0   cuenca    cuenca
1    norte     norte

  original most_freq
0  cantera   cantera

  original most_freq
0     arco      arco

  original most_freq
0     cova      cova

    original  most_freq
0    mirador    mirador
1  principal  principal

    original  most_freq
0  carretera  carretera
1    parking    parking

  original most_freq
0   arriba    arriba
1  central   central

    original  most_freq
0  chorreras  chorreras

  original most_freq
0  derecha   derecha

  original most_freq
0    medio     medio

          original        most_freq
0  tierra de nadie  tierra de nadie

      original    most_freq
0  el callejon  el callejon

       original     most_freq
0        boveda        boveda
1  cueva grande  cueva grande

    original  most_freq
0  el molino  el molino

    original  most_freq
0  principal  principal

     original   most_freq
0  el fronton  el fronton
1      sector      sector

  original most_freq
0    tunel     tunel

        original      most_freq
0  raco de missa  raco de missa

   original most_freq
0  sector b  sector b

  original most_freq
0  central   central

  original most_freq
0   cuenca    cuenca

  original most_freq
0     cova      cova

    original  most_freq
0  la boveda  la boveda

  original most_freq
0   arriba    arriba

  original most_freq
0   arriba    arriba
1   sector    sector

    original  most_freq
0  cova gran  cova gran
1      cueva      cueva

   original most_freq
0  esquerra  esquerra
1  mallorca  mallorca

  original most_freq
0  central   central

   original most_freq
0  mallorca  mallorca

  original most_freq
0    tunel     tunel

   original most_freq
0  castillo  castillo
1    diedro    diedro

  original most_freq
0  derecha   derecha

   original most_freq
0  sector d  sector d

  original most_freq
0  pedrera   pedrera

    original  most_freq
0     diedro     diedro
1  principal  principal

            original          most_freq
0  mirador romantico  mirador romantico

    original  most_freq
0  west face  west face

     original   most_freq
0  tres ponts  tres ponts

  original most_freq
0  cascada   cascada

  original most_freq
0  cantera   cantera
1   mordor    mordor

           original         most_freq
0          esquerra          esquerra
1  sector principal  sector principal

  original most_freq
0  derecha   derecha

      original    most_freq
0  cueva chica  cueva chica

  original most_freq
0  cortijo   cortijo

      original    most_freq
0  el callejon  el callejon

  original most_freq
0    dreta     dreta

    original  most_freq
0  desplomes  desplomes
1     sector     sector

  original most_freq
0   sector    sector

    original  most_freq
0  bordillos  bordillos

   original most_freq
0  mallorca  mallorca

          original        most_freq
0  de que fas aqui  de que fas aqui
1  tresor du zebre  tresor du zebre

   original most_freq
0  mallorca  mallorca

  original most_freq
0  parking   parking

   original most_freq
0  sector d  sector d

     original   most_freq
0  yugoslavia  yugoslavia

       original     most_freq
0  amphitheatre  amphitheatre

  original most_freq
0  la proa   la proa

  original most_freq
0    abajo     abajo

       original     most_freq
0  lo soterrani  lo soterrani

    original  most_freq
0  merendero  merendero

  original most_freq
0    museo     museo

   original most_freq
0  esquerra  esquerra

      original    most_freq
0  prohibitivo  prohibitivo

   original most_freq
0  cara sur  cara sur

     original   most_freq
0  tres ponts  tres ponts

    original  most_freq
0  el rincon  el rincon

   original most_freq
0  esquerra  esquerra

    original  most_freq
0  gorg blau  gorg blau

    original  most_freq
0  principal  principal

  original most_freq
0    dreta     dreta

  original most_freq
0  cantera   cantera

    original  most_freq
0  principal  principal

  original most_freq
0   diedro    diedro

   original most_freq
0  sector c  sector c

    original  most_freq
0  monodromo  monodromo

    original  most_freq
0  el camino  el camino

    original  most_freq
0  izquierda  izquierda

    original  most_freq
0  principal  principal

    original  most_freq
0  pena alta  pena alta

  original most_freq
0   arboli    arboli

   original most_freq
0  cara sur  cara sur

         original       most_freq
0  desplomilandia  desplomilandia

  original most_freq
0    cueva     cueva

  original most_freq
0     nord      nord

  original most_freq
0    cueva     cueva

     original   most_freq
0  les caunes  les caunes

     original   most_freq
0  las placas  las placas

    original  most_freq
0  la fuente  la fuente

  original most_freq
0  derecha   derecha

  original most_freq
0  cantera   cantera

  original most_freq
0    oeste     oeste

  original most_freq
0    right     right

  original most_freq
0  la raja   la raja

  original most_freq
0  vermell   vermell

      original    most_freq
0  manolodromo  manolodromo

  original most_freq
0   boveda    boveda

  original most_freq
0    cueva     cueva

               original             most_freq
0  vacaciones en el mar  vacaciones en el mar

  original most_freq
0   bosque    bosque

  original most_freq
0   corral    corral

  original most_freq
0   techos    techos

  original most_freq
0    cueva     cueva

   original most_freq
0  red wall  red wall

  original most_freq
0   cuenca    cuenca

     original   most_freq
0  iniciacion  iniciacion

    original  most_freq
0  principal  principal

    original  most_freq
0  la visera  la visera

    original  most_freq
0  izquierda  izquierda

   original most_freq
0     norte     norte
1  trebenna  trebenna

  original most_freq
0  central   central

    original  most_freq
0  principal  principal

  original most_freq
0   ermita    ermita

      original    most_freq
0  el callejon  el callejon

  original most_freq
0  hot roc   hot roc

    original  most_freq
0  pena alta  pena alta

  original most_freq
0   puente    puente

  original most_freq
0  derecha   derecha

  original most_freq
0  fronton   fronton

  original most_freq
0    xapat     xapat

  original most_freq
0    cueva     cueva

   original most_freq
0  castillo  castillo

  original most_freq
0   cuevas    cuevas

  original most_freq
0    fondo     fondo

     original   most_freq
0  lower tier  lower tier

  original most_freq
0   placas    placas

  original most_freq
0  derecha   derecha

  original most_freq
0    cueva     cueva

   original most_freq
0  cara sur  cara sur

           original         most_freq
0  corral de cabras  corral de cabras

   original most_freq
0  cara sur  cara sur

    original  most_freq
0  el rincon  el rincon

         original       most_freq
0  cancho bermejo  cancho bermejo

   original most_freq
0  cara sur  cara sur

    original  most_freq
0  la cupula  la cupula

  original most_freq
0    alaro     alaro

  original most_freq
0     muro      muro

   original most_freq
0  sector c  sector c

  original most_freq
0  entrada   entrada

  original most_freq
0  sendero   sendero

  original most_freq
0   diedro    diedro

  original most_freq
0   berlin    berlin

  original most_freq
0    cueva     cueva

  original most_freq
0   recodo    recodo

          original        most_freq
0  puig de garrafa  puig de garrafa

  original most_freq
0    oeste     oeste

  original most_freq
0  tijuana   tijuana

   original most_freq
0  la presa  la presa

   original most_freq
0  mallorca  mallorca

  original most_freq
0  derecha   derecha

  original most_freq
0   puente    puente

  original most_freq
0  tijuana   tijuana

    original  most_freq
0  principal  principal

       original     most_freq
0  gran canaria  gran canaria

     original   most_freq
0  placa gris  placa gris

   original most_freq
0  mallorca  mallorca

  original most_freq
0     cova      cova

  original most_freq
0     cova      cova

        original      most_freq
0  aquest any si  aquest any si

  original most_freq
0  derecha   derecha

    original  most_freq
0  izquierda  izquierda

  original most_freq
0   sector    sector

     original   most_freq
0  bellavista  bellavista

    original  most_freq
0  chorreras  chorreras

     original   most_freq
0  la cantera  la cantera

    original  most_freq
0     cuevas     cuevas
1  raven tor  raven tor
2    rubicon    rubicon
3    stanage    stanage
4       luce       luce

  original most_freq
0   cuenca    cuenca

  original most_freq
0    lolla     lolla

    original  most_freq
0  carretera  carretera

           original        most_freq
0              area             area
1          atlantis         atlantis
2   bardens lookout  bardens lookout
3              bell             bell
4     boronia point    boronia point
..              ...              ...
20          the egg          the egg
21       the grotto       the grotto
22          the pit          the pit
23        wave wall        wave wall
24         zap crag         zap crag

[25 rows x 2 columns]

    original  most_freq
0  principal  principal

    original  most_freq
0  izquierda  izquierda

  original most_freq
0   arriba    arriba

        original      most_freq
0  jurassic wall  jurassic wall

  original most_freq
0     left      left

    original  most_freq
0  carretera  carretera

   original most_freq
0  futbolin  futbolin

  original most_freq
0  sestret   sestret

    original  most_freq
0   pont nou   pont nou
1  infernale  infernale
2     nikita     nikita

  original most_freq
0   sector    sector

  original most_freq
0  derecha   derecha

  original most_freq
0    cueva     cueva

  original most_freq
0  pedrera   pedrera

    original  most_freq
0  chorreras  chorreras

    original  most_freq
0  east face  east face

     original   most_freq
0  cara norte  cara norte

  original most_freq
0   el rio    el rio

  original most_freq
0  fronton   fronton

        original      most_freq
0  placa central  placa central

  original most_freq
0     zona      zona

   original most_freq
0  piscinas  piscinas

    original  most_freq
0  principal  principal

      original    most_freq
0  el matadero  el matadero

      original    most_freq
0  cueva chica  cueva chica

    original  most_freq
0  principal  principal

   original most_freq
0  felanitx  felanitx

   original most_freq
0  cara sur  cara sur

  original most_freq
0     cova      cova

    original  most_freq
0  principal  principal

    original  most_freq
0  wild side  wild side

  original most_freq
0  casares   casares

  original most_freq
0   arriba    arriba

ita

          original       most_freq
0     val lomasone    val lomasone
1             arco            arco
2        babilonia       babilonia
3      bassilandia     bassilandia
4            basso           basso
..             ...             ...
40     secret spot     secret spot
41        sisyphos        sisyphos
42         terlago         terlago
43  terra promessa  terra promessa
44     val dalgone     val dalgone

[45 rows x 2 columns]

                 original              most_freq
0          rocca di corno         rocca di corno
1      parete dimenticata     parete dimenticata
2             monte cucco            monte cucco
3     antro delle streghe    antro delle streghe
4   antro di castelbianco  antro di castelbianco
..                    ...                    ...
32     rocca della basura     rocca della basura
33               sinistro               sinistro
34             superpanza             superpanza
35             telematica             telematica
36               terminal               terminal

[37 rows x 2 columns]

             original          most_freq
0    nuova ossessione   nuova ossessione
1        amphitheatre       amphitheatre
2          anfiteatro         anfiteatro
3              bunker             bunker
4        cala mancina       cala mancina
..                ...                ...
26          salinella          salinella
27  scomparto rifiuti  scomparto rifiuti
28           silenzio           silenzio
29     torre isulidda     torre isulidda
30         white wall         white wall

[31 rows x 2 columns]

              original           most_freq
0                 alto                alto
1         castelbianco        castelbianco
2                arena               arena
3   rocca della basura  rocca della basura
4                bauso               bauso
..                 ...                 ...
22         secret spot         secret spot
23          telematica          telematica
24            terminal            terminal
25             tortuga             tortuga
26               totem               totem

[27 rows x 2 columns]

                 original              most_freq
0       approdo dei proci      approdo dei proci
1                eldorado               eldorado
2                  pueblo                 pueblo
3        fascia superiore       fascia superiore
4                   grota                  grota
..                    ...                    ...
6                grottone               grottone
7                  moneta                 moneta
8   parete del chiromante  parete del chiromante
9                paretone               paretone
10              sperlonga              sperlonga

[11 rows x 2 columns]

          original       most_freq
0          arcadio         arcadio
1   biddiriscottai  biddiriscottai
2       buchi arta      buchi arta
3       cala fuili      cala fuili
4        cala luna       cala luna
..             ...             ...
8        millenium       millenium
9         pederiva        pederiva
10           raoni           raoni
11      satta ruja      satta ruja
12      thailandia      thailandia

[13 rows x 2 columns]

            original         most_freq
0         roccadoria        roccadoria
1            arcadio           arcadio
2     biddiriscottai    biddiriscottai
3         buchi arta        buchi arta
4       cala fighera      cala fighera
..               ...               ...
24  tana delle tigri  tana delle tigri
25        thailandia        thailandia
26           ulassai           ulassai
27            urania            urania
28  villagio gallico  villagio gallico

[29 rows x 2 columns]

  original most_freq
0  balcone   balcone
1  ceselli   ceselli
2   gabbio    gabbio
3    isola     isola
4   mummie    mummie
5     muro      muro

           original         most_freq
0      animal house      animal house
1         canneland         canneland
2         chinatown         chinatown
3    corvo spaziale    corvo spaziale
4       ombre rosse       ombre rosse
5     punta pilocca     punta pilocca
6   ruota del tempo   ruota del tempo
7          sherwood          sherwood
8  tana delle tigri  tana delle tigri

       original     most_freq
0    anfiteatro    anfiteatro
1        befana        befana
2        brojon        brojon
3      classica      classica
4         eremo         eremo
5       minetti       minetti
6         nuova         nuova
7      piramide      piramide
8  sotto leremo  sotto leremo

          original        most_freq
0      grotti alta      grotti alta
1            bassa            bassa
2         classica         classica
3         la curva         la curva
4          erotica          erotica
5      iniziazione      iniziazione
6  muro del pianto  muro del pianto
7         paretone         paretone

        original      most_freq
0     anfiteatro     anfiteatro
1         banana         banana
2       diamante       diamante
3     gare nuove     gare nuove
4   gare vecchie   gare vecchie
5      moby dick      moby dick
6     parete sud     parete sud
7  pilone giallo  pilone giallo
8    settore est    settore est
9        sirotti        sirotti

      original    most_freq
0        arena        arena
1    belvedere    belvedere
2         cava         cava
3       grotte       grotte
4        gumbi        gumbi
5     paretone     paretone
6  santa lucia  santa lucia

         original       most_freq
0         falconi         falconi
1            alta            alta
2            alto            alto
3     mangiafuoco     mangiafuoco
4  torre dacciaio  torre dacciaio

        original      most_freq
0        cascade        cascade
1  candalla alta  candalla alta
2          bassa          bassa

           original         most_freq
0          canarini          canarini
1          caprette          caprette
2           crinale           crinale
3  piccola ferrovia  piccola ferrovia
4        strapiombi        strapiombi
5           vergini           vergini

         original       most_freq
0  arco di pietra  arco di pietra
1        centrale        centrale
2        classico        classico
3          destro          destro
4          grotta          grotta
5            ilex            ilex
6  terra di mezzo  terra di mezzo

            original          most_freq
0     corvo spaziale     corvo spaziale
1              isili              isili
2        ombre rosse        ombre rosse
3             urania             urania
4  pietra filosofale  pietra filosofale
5     rosa dei venti     rosa dei venti

           original         most_freq
0              alto              alto
1              area              area
2              gare              gare
3           giallon           giallon
4       la poltrona       la poltrona
5  pancia delefante  pancia delefante
6      placche nere      placche nere
7        strapiombi        strapiombi

  original most_freq
0   canion    canion
1   canyon    canyon
2     cave      cave
3  lecorci   lecorci

              original            most_freq
0            calabroni            calabroni
1       mano di fatima       mano di fatima
2               olimpo               olimpo
3                scudo                scudo
4  traversata classica  traversata classica

     original   most_freq
0     arcadio     arcadio
1  cala fuili  cala fuili
2   cala luna   cala luna
3    desplome    desplome
4    pederiva    pederiva
5       raoni       raoni
6  strapiombi  strapiombi
7  thailandia  thailandia

          original        most_freq
0           canyon           canyon
1           canion           canion
2         laghetti         laghetti
3    primo settore    primo settore
4        scorpioni        scorpioni
5  secondo settore  secondo settore

          original        most_freq
0            isola            isola
1    candalla alta    candalla alta
2   candalla bassa   candalla bassa
3         cimitero         cimitero
4  grotta allombra  grotta allombra
5         grottino         grottino
6     san rocchino     san rocchino

     original   most_freq
0  cava rossa  cava rossa
1    paretone    paretone

         original       most_freq
0         il mito         il mito
1  master of rock  master of rock
2  rosa dei venti  rosa dei venti
3        solarium        solarium

             original           most_freq
0                dado                dado
1   pietra filosofale   pietra filosofale
2  settore principale  settore principale
3             sergent             sergent

     original   most_freq
0  anfiteatro  anfiteatro
1    centrale    centrale
2      destro      destro

  original most_freq
0  remenno   remenno

     original   most_freq
0    alcatraz    alcatraz
1        luce        luce
2  uccellessa  uccellessa

     original   most_freq
0   cala luna   cala luna
1    grottoni    grottoni
2  strapiombi  strapiombi

         original       most_freq
0      anfiteatro      anfiteatro
1     muro giallo     muro giallo
2            oasi            oasi
3        paretone        paretone
4      placconata      placconata
5  settore destro  settore destro

   original most_freq
0  gare est  gare est
1   miollet   miollet

             original           most_freq
0     parete centrale     parete centrale
1  parete dimenticata  parete dimenticata

  original most_freq
0     alta      alta
1    bassa     bassa

      original    most_freq
0   anfiteatro   anfiteatro
1  bauso rosso  bauso rosso
2     paradiso     paradiso
3      valdesi      valdesi

   original most_freq
0   aladino   aladino
1  ali baba  ali baba
2      alto      alto
3   gradoni   gradoni

   original most_freq
0    canyon    canyon
1  cineteca  cineteca
2  classico  classico
3    grotta    grotta
4  grottone  grottone

        original      most_freq
0       big wall       big wall
1  placche rosse  placche rosse

           original         most_freq
0          castello          castello
1             isola             isola
2  palazzo dinverno  palazzo dinverno

     original   most_freq
0    sorprese    sorprese
1  strapiombi  strapiombi

        original      most_freq
0  sasso gabriel  sasso gabriel
1   sasso renato   sasso renato

  original most_freq
0    bassa     bassa
1    basso     basso
2   cengia    cengia
3    lower     lower
4    upper     upper

            original          most_freq
0          cala luna          cala luna
1       creuza de ma       creuza de ma
2  villaggio gallico  villaggio gallico

          original        most_freq
0             alto             alto
1        belvedere        belvedere
2           grotta           grotta
3      le terrazze      le terrazze
4     placche nere     placche nere
5            primo            primo
6  secondo settore  secondo settore

        original      most_freq
0          fiume          fiume
1         grotta         grotta
2       grottone       grottone
3    muro giallo    muro giallo
4       paretone       paretone
5  primo settore  primo settore

             original           most_freq
0                alta                alta
1                alto                alto
2               bassa               bassa
3               basso               basso
4               nuova               nuova
5  settore principale  settore principale
6          strapiombi          strapiombi

   original most_freq
0   campana   campana
1  laghetti  laghetti
2  noriglio  noriglio

    original  most_freq
0  geierwand  geierwand
1     grotta     grotta
2     grotte     grotte
3     sector     sector
4     sektor     sektor

              original            most_freq
0     fascia superiore     fascia superiore
1  scoglio dellaraguna  scoglio dellaraguna

     original   most_freq
0        alto        alto
1      canyon      canyon
2    centrale    centrale
3      destro      destro
4  principale  principale
5    sinistro    sinistro
6  strapiombi  strapiombi

         original       most_freq
0  sasso di dante  sasso di dante

            original          most_freq
0  memoria del vuoto  memoria del vuoto
1             olimpo             olimpo

         original       most_freq
0       canyonvic       canyonvic
1        centrale        centrale
2        elefante        elefante
3  settore destro  settore destro

             original           most_freq
0              destro              destro
1            panorama            panorama
2  settore principale  settore principale
3                roca                roca
4            sinistro            sinistro

             original           most_freq
0             casetta             casetta
1              destro              destro
2       primo settore       primo settore
3  settore principale  settore principale
4            sinistro            sinistro

  original most_freq
0  la vela   la vela

           original         most_freq
0          centrale          centrale
1            destro            destro
2     secret garden     secret garden
3  settore sinistro  settore sinistro

       original     most_freq
0          alta          alta
1  settore alto  settore alto
2      biellesi      biellesi

    original  most_freq
0    zentral    zentral
1    classic    classic
2   sektor a   sektor a
3  settore a  settore a

        original      most_freq
0  schweinebucht  schweinebucht

     original   most_freq
0    classico    classico
1      grotta      grotta
2      grotte      grotte
3     settore     settore
4  strapiombi  strapiombi

             original           most_freq
0             chignol             chignol
1            paretone            paretone
2    settore centrale    settore centrale
3  settore principale  settore principale

               original             most_freq
0       muro del pianto       muro del pianto
1  specchio del grifone  specchio del grifone

     original   most_freq
0    cannabis    cannabis
1    paretone    paretone
2       selva       selva
3  strapiombi  strapiombi

         original       most_freq
0            alto            alto
1            oben            oben
2   oberer sektor   oberer sektor
3  unterer sektor  unterer sektor

  original most_freq
0   grotta    grotta

          original        most_freq
0  placca delloasi  placca delloasi
1         resegone         resegone

               original             most_freq
0      settore centrale      settore centrale
1                destro                destro
2  spiaggia della molpa  spiaggia della molpa

   original most_freq
0     balma     balma
1     basso     basso
2  centrale  centrale

  original most_freq
0   olimpo    olimpo

  original most_freq
0     alto      alto
1    basso     basso
2    nuova     nuova
3    primo     primo
4  settore   settore

  original most_freq
0   canyon    canyon

     original   most_freq
0  anfiteatro  anfiteatro
1      grotta      grotta
2    grottone    grottone

      original    most_freq
0    ciastlins    ciastlins
1  hauptsektor  hauptsektor

       original     most_freq
0  settore alto  settore alto
1         basso         basso

    original  most_freq
0       alta       alta
1       alto       alto
2       arco       arco
3    casetta    casetta
4   centrale   centrale
5     grotta     grotta
6  settore b  settore b

  original most_freq
0    bassa     bassa
1    basso     basso

   original most_freq
0      alto      alto
1  la cueva  la cueva

    original  most_freq
0      arena      arena
1  cavadonna  cavadonna

    original  most_freq
0  metallica  metallica
1     strada     strada

               original             most_freq
0  dimensione verticale  dimensione verticale
1           la muraglia           la muraglia

       original     most_freq
0        canyon        canyon
1  cuore alpino  cuore alpino

           original         most_freq
0        parete est        parete est
1  settore centrale  settore centrale

  original most_freq
0     alta      alta
1     alto      alto
2    bassa     bassa
3    basso     basso
4    nuova     nuova

     original   most_freq
0    centrale    centrale
1  i pilastri  i pilastri
2    paretone    paretone
3  principale  principale
4    sinistro    sinistro

      original    most_freq
0     centrale     centrale
1  vena cionca  vena cionca

        original      most_freq
0    ombre rosse    ombre rosse
1  punta pilocca  punta pilocca

           original         most_freq
0            destro            destro
1  settore centrale  settore centrale
2  settore sinistro  settore sinistro

           original         most_freq
0          la curva          la curva
1  regalo di natale  regalo di natale
2             scudo             scudo

        original      most_freq
0    hauptsektor    hauptsektor
1           main           main
2  oberer sektor  oberer sektor

    original  most_freq
0   eldorado   eldorado
1   paretone   paretone
2  sperlonga  sperlonga

     original   most_freq
0  lariosauro  lariosauro

         original       most_freq
0  masso staccato  masso staccato

           original         most_freq
0            destro            destro
1  settore sinistro  settore sinistro
2        strapiombi        strapiombi

             original           most_freq
0  castello delliride  castello delliride

             original           most_freq
0               bassa               bassa
1            centrale            centrale
2            classica            classica
3           la grotta           la grotta
4            grottino            grottino
5            laghetti            laghetti
6  settore principale  settore principale

      original    most_freq
0  il paretone  il paretone
1   strapiombi   strapiombi

      original    most_freq
0       grotte       grotte
1  il paretone  il paretone
2      zentral      zentral

           original         most_freq
0  fascia superiore  fascia superiore

        original      most_freq
0  primo settore  primo settore
1      settore b      settore b

     original   most_freq
0  i pilastri  i pilastri

     original   most_freq
0      strada      strada
1  strapiombi  strapiombi

  original most_freq
0   strada    strada

  original most_freq
0     alto      alto
1    basso     basso

       original     most_freq
0      cineplex      cineplex
1  erboristeria  erboristeria
2       i gumbi       i gumbi
3      terminal      terminal

             original           most_freq
0                alta                alta
1                alto                alto
2              grotta              grotta
3  settore principale  settore principale

    original  most_freq
0  star wars  star wars

         original       most_freq
0   oberer sektor   oberer sektor
1        sektor b        sektor b
2  unterer sektor  unterer sektor

              original            most_freq
0          calamancina          calamancina
1            campeggio            campeggio
2      crown of aragon      crown of aragon
3  never sleeping wall  never sleeping wall
4    salinella camping    salinella camping

           original         most_freq
0         hollywood         hollywood
1  regalo di natale  regalo di natale

     original   most_freq
0    classica    classica
1  principale  principale

         original       most_freq
0  cabeza de rino  cabeza de rino
1     competicion     competicion
2    culo de rino    culo de rino
3     el elefante     el elefante
4           final           final
5       wild side       wild side
6    piz ciavazes    piz ciavazes

               original             most_freq
0  dimensione verticale  dimensione verticale
1     memoria del vuoto     memoria del vuoto

       original     most_freq
0          alto          alto
1         bassa         bassa
2         basso         basso
3  gare vecchie  gare vecchie

        original      most_freq
0  primo settore  primo settore
1      settore a      settore a

     original   most_freq
0    classico    classico
1  principale  principale
2    solarium    solarium

          original        most_freq
0             alto             alto
1            basso            basso
2         centrale         centrale
3            lower            lower
4  secondo settore  secondo settore
5            upper            upper

     original   most_freq
0   discoteca   discoteca
1  principale  principale

   original most_freq
0      oben      oben
1  paretone  paretone
2   zentral   zentral

  original most_freq
0   avalon    avalon
1  cascata   cascata
2   orrido    orrido

  original most_freq
0  ceselli   ceselli

     original   most_freq
0    paretone    paretone
1  strapiombi  strapiombi

   original most_freq
0      alto      alto
1     basso     basso
2  centrale  centrale

   original most_freq
0  diamante  diamante
1     scudo     scudo

  original most_freq
0  stadium   stadium

         original       most_freq
0            arco            arco
1       belvedere       belvedere
2    cala mancina    cala mancina
3        cavedine        cavedine
4         massone         massone
5    piz ciavazes    piz ciavazes
6  red point wall  red point wall

    original  most_freq
0  casarotto  casarotto

           original         most_freq
0              alto              alto
1             basso             basso
2     primo settore     primo settore
3  settore centrale  settore centrale

   original most_freq
0  centrale  centrale

  original most_freq
0  casetta   casetta

     original   most_freq
0    pederiva    pederiva
1       raoni       raoni
2  strapiombi  strapiombi
3  thailandia  thailandia

         original       most_freq
0            alta            alta
1           bassa           bassa
2  unterer sektor  unterer sektor

  original most_freq
0   orrido    orrido

   original most_freq
0    destro    destro
1  sinistro  sinistro

      original    most_freq
0  santa lucia  santa lucia
1      settore      settore
2   strapiombi   strapiombi

           original         most_freq
0     primo settore     primo settore
1          sector a          sector a
2  settore centrale  settore centrale
3    settore destro    settore destro
4  settore sinistro  settore sinistro

     original   most_freq
0        arco        arco
1  principale  principale

         original       most_freq
0   oberer sektor   oberer sektor
1  unterer sektor  unterer sektor

   original most_freq
0  sektor b  sektor b
1  sinistro  sinistro

          original        most_freq
0            arena            arena
1            bauso            bauso
2           bunker           bunker
3          camping          camping
4  cinema paradiso  cinema paradiso
5         pipeline         pipeline
6   torre isulidda   torre isulidda

     original   most_freq
0  anfiteatro  anfiteatro
1        cava        cava
2  principale  principale

          original        most_freq
0         centrale         centrale
1            primo            primo
2  secondo settore  secondo settore

     original   most_freq
0        alta        alta
1        alto        alto
2       basso       basso
3    centrale    centrale
4      destro      destro
5  principale  principale
6    sinistro    sinistro

        original      most_freq
0  settore basso  settore basso
1   settore alto   settore alto

  original most_freq
0     arco      arco
1   cengia    cengia
2   orrido    orrido

       original     most_freq
0  animal house  animal house

   original most_freq
0  classica  classica
1      dado      dado

           original         most_freq
0             balma             balma
1    settore destro    settore destro
2  settore sinistro  settore sinistro

   original most_freq
0  big wall  big wall
1  centrale  centrale
2    destro    destro
3  paretone  paretone

  original most_freq
0  platten   platten

   original most_freq
0      alta      alta
1  classico  classico

   original most_freq
0    bunker    bunker
1  piramide  piramide

           original         most_freq
0      settore alto      settore alto
1     settore basso     settore basso
2  settore centrale  settore centrale

  original most_freq
0   pineta    pineta

        original      most_freq
0  oberer sektor  oberer sektor
1         rechts         rechts

      original    most_freq
0  ombre rosse  ombre rosse

  original most_freq
0     gare      gare

  original most_freq
0  valdesi   valdesi

        original      most_freq
0           arco           arco
1        la vela        la vela
2       sektor b       sektor b
3      settore b      settore b
4  settore basso  settore basso

       original     most_freq
0  cala fighera  cala fighera

   original most_freq
0   cascata   cascata
1  paretone  paretone

        original      most_freq
0  settore basso  settore basso

    original  most_freq
0  la grotta  la grotta

  original most_freq
0  settore   settore

     original   most_freq
0        nord        nord
1  parete sud  parete sud

   original most_freq
0  centrale  centrale
1  sector b  sector b

           original         most_freq
0             bassa             bassa
1  settore centrale  settore centrale

     original   most_freq
0       basso       basso
1  principale  principale

          original        most_freq
0        le canyon        le canyon
1        la truite        la truite
2       le pescher       le pescher
3  rue des masques  rue des masques
4          secteur          secteur
5           sector           sector

       original     most_freq
0  cala fighera  cala fighera

      original    most_freq
0     centrale     centrale
1  iniziazione  iniziazione
2   principale   principale

      original    most_freq
0  settore est  settore est
1         west         west

      original    most_freq
0         alta         alta
1         alto         alto
2        basso        basso
3  tassilandia  tassilandia

              original            most_freq
0  antro delle streghe  antro delle streghe
1      parete centrale      parete centrale
2             paretone             paretone

             original           most_freq
0            castello            castello
1  parete dimenticata  parete dimenticata

           original         most_freq
0        anfiteatro        anfiteatro
1  settore centrale  settore centrale

   original most_freq
0  paretone  paretone

           original         most_freq
0         discoteca         discoteca
1        lariosauro        lariosauro
2        principale        principale
3    settore destro    settore destro
4  settore sinistro  settore sinistro

    original  most_freq
0  sperlonga  sperlonga

  original most_freq
0   canyon    canyon

           original         most_freq
0          centrale          centrale
1    settore destro    settore destro
2  settore sinistro  settore sinistro

  original most_freq
0   rechts    rechts
1     left      left
2    links     links

  original most_freq
0  zentral   zentral

     original   most_freq
0  istentales  istentales

      original    most_freq
0     centrale     centrale
1     classica     classica
2  ombre rosse  ombre rosse

     original   most_freq
0  anfiteatro  anfiteatro
1    centrale    centrale

  original most_freq
0     alta      alta
1     alto      alto
2    bassa     bassa
3    basso     basso

     original   most_freq
0       lorto       lorto
1    paretone    paretone
2  principale  principale

   original most_freq
0  centrale  centrale
1    destro    destro
2  sinistro  sinistro

  original most_freq
0    ciusa     ciusa
1  reunion   reunion

  original most_freq
0  secteur   secteur

  original most_freq
0   canyon    canyon
1     nord      nord

   original most_freq
0  sinistro  sinistro

           original         most_freq
0     jurassic park     jurassic park
1  settore centrale  settore centrale

  original most_freq
0     alto      alto
1    basso     basso
2    primo     primo

  original most_freq
0    bauso     bauso

           original         most_freq
0  settore centrale  settore centrale

  original most_freq
0    primo     primo

  original most_freq
0   grotta    grotta
1  la gola   la gola

  original most_freq
0  settore   settore

     original   most_freq
0      camino      camino
1  strapiombi  strapiombi

        original      most_freq
0    hauptsektor    hauptsektor
1  oberer sektor  oberer sektor
2       sector c       sector c

      original    most_freq
0      la pera      la pera
1  muro giallo  muro giallo
2   placconata   placconata

  original most_freq
0     alto      alto
1    basso     basso
2  settore   settore

  original most_freq
0  chateau   chateau

   original most_freq
0  centrale  centrale
1    destro    destro
2  sinistro  sinistro

  original most_freq
0   rechts    rechts
1  zentral   zentral

  original most_freq
0     alto      alto

      original    most_freq
0  hinkelstein  hinkelstein

   original most_freq
0  centrale  centrale
1  grottone  grottone

    original  most_freq
0  belvedere  belvedere
1       gare       gare

             original           most_freq
0                alto                alto
1         hauptsektor         hauptsektor
2  settore principale  settore principale

       original     most_freq
0  placche nere  placche nere
1    strapiombi    strapiombi

           original         most_freq
0    settore destro    settore destro
1  settore centrale  settore centrale

     original   most_freq
0  istentales  istentales

    original  most_freq
0  sperlonga  sperlonga

     original   most_freq
0        nord        nord
1  parete sud  parete sud

               original             most_freq
0                 eremo                 eremo
1  falesia del silenzio  falesia del silenzio
2       muro del pianto       muro del pianto

   original most_freq
0  centrale  centrale

   original most_freq
0  eldorado  eldorado

   original most_freq
0  centrale  centrale

   original most_freq
0    grotte    grotte
1   i gumbi   i gumbi
2  paretone  paretone

  original most_freq
0     muro      muro

     original   most_freq
0  parete sud  parete sud

   original most_freq
0  grottone  grottone

           original         most_freq
0  settore centrale  settore centrale
1      settore alto      settore alto

  original most_freq
0   grotta    grotta

     original   most_freq
0     arcadio     arcadio
1  buchi arta  buchi arta
2  satta ruja  satta ruja

              original            most_freq
0         settore alto         settore alto
1  antro delle streghe  antro delle streghe

     original   most_freq
0  satta ruja  satta ruja

  original most_freq
0     gare      gare

   original most_freq
0  sinistro  sinistro

    original  most_freq
0  la grotta  la grotta

  original most_freq
0   destro    destro

     original   most_freq
0      destro      destro
1  strapiombi  strapiombi

   original most_freq
0  sinistro  sinistro

         original       most_freq
0   oberer sektor   oberer sektor
1  unterer sektor  unterer sektor

         original       most_freq
0  unterer sektor  unterer sektor

         original       most_freq
0  biddiriscottai  biddiriscottai

     original   most_freq
0  principale  principale

   original most_freq
0      alto      alto
1  sector c  sector c

    original  most_freq
0  settore a  settore a

   original most_freq
0  paretone  paretone

          original        most_freq
0  falesia delleco  falesia delleco

  original most_freq
0    basso     basso

    original  most_freq
0    balcone    balcone
1  belvedere  belvedere

  original most_freq
0     alto      alto
1    basso     basso
2   destro    destro

   original most_freq
0    destro    destro
1  sinistro  sinistro

   original most_freq
0  classica  classica
1    grotta    grotta

  original most_freq
0  giallon   giallon

   original most_freq
0      alto      alto
1  centrale  centrale

        original      most_freq
0  sasso gabriel  sasso gabriel
1   sasso renato   sasso renato

  original most_freq
0    mitte     mitte

  original most_freq
0   matrix    matrix

  original most_freq
0  titanic   titanic

  original most_freq
0    block     block

           original         most_freq
0  crown of aragorn  crown of aragorn

  original most_freq
0  la vela   la vela

     original   most_freq
0  millennium  millennium

  original most_freq
0  casetta   casetta

   original most_freq
0  sektor a  sektor a

  original most_freq
0   olimpo    olimpo

         original       most_freq
0        canarini        canarini
1  mano di fatima  mano di fatima
2         vergini         vergini

  original most_freq
0   dufour    dufour
1   pueblo    pueblo

   original most_freq
0  centrale  centrale

    original  most_freq
0  discoteca  discoteca

  original most_freq
0    links     links
1   rechts    rechts

  original most_freq
0     nord      nord

      original    most_freq
0  il paretone  il paretone
1   strapiombi   strapiombi

  original most_freq
0   avalon    avalon

  original most_freq
0  freezer   freezer

  original most_freq
0     arco      arco

   original most_freq
0  centrale  centrale
1    destro    destro

          original        most_freq
0  westliche zinne  westliche zinne

  original most_freq
0    bassa     bassa
1    basso     basso

     original   most_freq
0     classic     classic
1  summertime  summertime

   original most_freq
0    destro    destro
1  sinistro  sinistro

                 original               most_freq
0  cattedrale nel deserto  cattedrale nel deserto

     original   most_freq
0       basso       basso
1  strapiombi  strapiombi

   original most_freq
0  centrale  centrale

   original most_freq
0      alto      alto
1  sector b  sector b

    original  most_freq
0  discoteca  discoteca

      original    most_freq
0  hauptsektor  hauptsektor
1  la poltrona  la poltrona

  original most_freq
0    fondo     fondo

     original   most_freq
0       nuova       nuova
1  strapiombi  strapiombi

      original    most_freq
0      ulassai      ulassai
1  kloof gorge  kloof gorge

   original most_freq
0  centrale  centrale
1  sinistro  sinistro

    original  most_freq
0  spartacus  spartacus

   original most_freq
0  centrale  centrale

    original  most_freq
0  canneland  canneland

  original most_freq
0  sergent   sergent

    original  most_freq
0  el pueblo  el pueblo
1  sperlonga  sperlonga

       original     most_freq
0  piz ciavazes  piz ciavazes

               original             most_freq
0  specchio del grifone  specchio del grifone

  original most_freq
0     alto      alto
1    basso     basso

  original most_freq
0     arco      arco

           original         most_freq
0            olimpo            olimpo
1  palazzo dinverno  palazzo dinverno

   original most_freq
0  centrale  centrale
1  sinistro  sinistro

  original most_freq
0  balcone   balcone
1  central   central

  original most_freq
0   destro    destro
1   grotta    grotta

   original most_freq
0   la gola   la gola
1  sisyphos  sisyphos

     original   most_freq
0  cala fuili  cala fuili
1       isili       isili

  original most_freq
0    isili     isili

    original  most_freq
0      fiume      fiume
1  la grotta  la grotta

   original most_freq
0  centrale  centrale

  original most_freq
0    isili     isili

   original most_freq
0  sector a  sector a

   original most_freq
0  classico  classico

  original most_freq
0     alto      alto

   original most_freq
0     bassa     bassa
1     basso     basso
2  centrale  centrale

  original most_freq
0   destro    destro

   original most_freq
0  sinistro  sinistro

  original most_freq
0     arco      arco

      original    most_freq
0  le terrazze  le terrazze

  original most_freq
0     alto      alto
1    basso     basso

           original         most_freq
0             primo             primo
1  settore sinistro  settore sinistro

        original      most_freq
0  punta pilocca  punta pilocca

  original most_freq
0     alto      alto
1  miollet   miollet

  original most_freq
0     cava      cava

         original       most_freq
0   oberer sektor   oberer sektor
1  unterer sektor  unterer sektor

     original   most_freq
0  principale  principale

      original    most_freq
0  iniziazione  iniziazione

   original most_freq
0  centrale  centrale

   original most_freq
0  centrale  centrale

     original   most_freq
0        alto        alto
1       basso       basso
2  strapiombi  strapiombi

         original       most_freq
0  arco di pietra  arco di pietra

   original most_freq
0  sector a  sector a

    original  most_freq
0  la grotta  la grotta

        original      most_freq
0  placche rosse  placche rosse
1      settore a      settore a

       original     most_freq
0         basso         basso
1  settore alto  settore alto

   original most_freq
0  sektor a  sektor a

  original most_freq
0     gare      gare

  original most_freq
0   grotta    grotta

  original most_freq
0     arco      arco
1    basso     basso

     original   most_freq
0  bellavista  bellavista

   original most_freq
0  paradise  paradise

    original  most_freq
0  settore a  settore a

  original most_freq
0     left      left
1    right     right

   original most_freq
0  sector b  sector b

  original most_freq
0  ulassai   ulassai

  original most_freq
0   grotta    grotta

              original            most_freq
0  never sleeping wall  never sleeping wall

   original most_freq
0   boulder   boulder
1  paretone  paretone

   original most_freq
0  centrale  centrale

  original most_freq
0   destro    destro

     original   most_freq
0  cala fuili  cala fuili

  original most_freq
0    block     block

  original most_freq
0   destro    destro

  original most_freq
0   strada    strada

   original most_freq
0  paretone  paretone

   original most_freq
0  centrale  centrale

   original most_freq
0    grotta    grotta
1  grottino  grottino

     original   most_freq
0  cala fuili  cala fuili

  original most_freq
0     arco      arco

   original most_freq
0  nautilus  nautilus

  original most_freq
0  ulassai   ulassai

        original      most_freq
0  candalla alta  candalla alta
1       cimitero       cimitero

    original  most_freq
0  left wall  left wall

  original most_freq
0     alto      alto

  original most_freq
0     alto      alto

   original most_freq
0  classica  classica

                original              most_freq
0  placca dei maleducati  placca dei maleducati

   original most_freq
0  big cave  big cave
1     eremo     eremo

   original most_freq
0  centrale  centrale

  original most_freq
0    balma     balma

       original     most_freq
0         basso         basso
1  settore alto  settore alto

  original most_freq
0     alto      alto
1    basso     basso

   original most_freq
0  centrale  centrale

   original most_freq
0  sector d  sector d

           original         most_freq
0  villagio gallico  villagio gallico

     original   most_freq
0  principale  principale

  original most_freq
0     alta      alta
1     alto      alto

          original        most_freq
0  muro del pianto  muro del pianto

   original most_freq
0  paretone  paretone

     original   most_freq
0  cala fuili  cala fuili

              original            most_freq
0  antro delle streghe  antro delle streghe

  original most_freq
0     oasi      oasi

   original most_freq
0  centrale  centrale
1  sinistro  sinistro

     original   most_freq
0  strapiombi  strapiombi

  original most_freq
0   lisola    lisola

      original    most_freq
0  muro giallo  muro giallo

     original   most_freq
0  principale  principale

    original  most_freq
0  canneland  canneland

  original most_freq
0     arco      arco

   original most_freq
0  laghetti  laghetti

      original    most_freq
0  hauptsektor  hauptsektor

  original most_freq
0  settore   settore

  original most_freq
0    balma     balma

               original             most_freq
0  falesia del silenzio  falesia del silenzio

             original           most_freq
0    settore centrale    settore centrale
1  settore principale  settore principale

   original most_freq
0    destro    destro
1  sinistro  sinistro

   original most_freq
0  sinistro  sinistro

  original most_freq
0   olimpo    olimpo

   original most_freq
0  sinistro  sinistro

  original most_freq
0   canyon    canyon

  original most_freq
0  la gola   la gola
1     oasi      oasi

   original most_freq
0  sector b  sector b

  original most_freq
0     alto      alto

  original most_freq
0     alta      alta

     original   most_freq
0  parete est  parete est

    original  most_freq
0  petropigi  petropigi

     original   most_freq
0  laboratori  laboratori

   original most_freq
0  nomesino  nomesino

      original    most_freq
0  val dalgone  val dalgone

   original most_freq
0  centrale  centrale

      original    most_freq
0  val dalgone  val dalgone

   original most_freq
0  sektor c  sektor c

  original most_freq
0     alto      alto

   original most_freq
0  sector a  sector a

  original most_freq
0     alto      alto

  original most_freq
0     ilex      ilex

  original most_freq
0    raoni     raoni

          original        most_freq
0  secondo settore  secondo settore

  original most_freq
0   canyon    canyon

          original        most_freq
0  crown of aragon  crown of aragon

  original most_freq
0  stadium   stadium

           original         most_freq
0  palazzo dinverno  palazzo dinverno

   original most_freq
0  sinistro  sinistro

  original most_freq
0     cava      cava

  original most_freq
0   grotta    grotta

  original most_freq
0  cascata   cascata

    original  most_freq
0  canyonvic  canyonvic

  original most_freq
0  arcadio   arcadio

   original most_freq
0  centrale  centrale

  original most_freq
0   grotte    grotte

           original         most_freq
0  settore centrale  settore centrale

  original most_freq
0  settore   settore

  original most_freq
0   grotta    grotta

  original most_freq
0    basso     basso

  original most_freq
0  ulassai   ulassai

     original   most_freq
0  principale  principale

           original         most_freq
0  villagio gallico  villagio gallico

         original       most_freq
0  terra di mezzo  terra di mezzo

     original   most_freq
0  principale  principale

  original most_freq
0     alto      alto

  original most_freq
0     alto      alto

  original most_freq
0    basso     basso

  original most_freq
0  chignol   chignol

     original   most_freq
0  anfiteatro  anfiteatro

     original   most_freq
0  laboratori  laboratori

  original most_freq
0  la gola   la gola

           original         most_freq
0  settore centrale  settore centrale

  original most_freq
0     gare      gare

  original most_freq
0   grotta    grotta

  original most_freq
0     cava      cava

   original most_freq
0  canarini  canarini

   original most_freq
0  centrale  centrale

  original most_freq
0  la gola   la gola

  original most_freq
0   grotta    grotta

        original      most_freq
0  primo settore  primo settore

      original    most_freq
0  la muraglia  la muraglia

     original   most_freq
0  parete sud  parete sud

   original most_freq
0  centrale  centrale

  original most_freq
0     alta      alta

    original  most_freq
0  campeggio  campeggio

  original most_freq
0   destro    destro

        original      most_freq
0     anfiteatro     anfiteatro
1           buda           buda
2     gran techo     gran techo
3     pared roja     pared roja
4  punta aubarca  punta aubarca
5         sombra         sombra

  original most_freq
0   grotta    grotta

     original   most_freq
0  south face  south face

     original   most_freq
0  principale  principale

   original most_freq
0  sinistro  sinistro

   original most_freq
0  centrale  centrale

     original   most_freq
0  principale  principale

  original most_freq
0     arco      arco

  original most_freq
0  coltura   coltura

     original   most_freq
0  parete sud  parete sud

  original most_freq
0    primo     primo

   original most_freq
0  paretone  paretone

  original most_freq
0    primo     primo

   original most_freq
0  solarium  solarium

  original most_freq
0   wanaka    wanaka

  original most_freq
0    balma     balma

       original     most_freq
0  cala mancina  cala mancina

    original  most_freq
0  babilonia  babilonia

  original most_freq
0     alto      alto

  original most_freq
0     alto      alto

  original most_freq
0  sudwand   sudwand

   original most_freq
0  centrale  centrale

        original      most_freq
0  punta pilocca  punta pilocca

  original most_freq
0     arco      arco

  original most_freq
0    basso     basso

     original   most_freq
0  principale  principale

     original   most_freq
0  principale  principale

  original most_freq
0     alto      alto

  original most_freq
0  ostwand   ostwand

   original most_freq
0  centrale  centrale

    original  most_freq
0  italsider  italsider

   original most_freq
0  centrale  centrale

  original most_freq
0    primo     primo

   original most_freq
0  pederiva  pederiva

  original most_freq
0    basso     basso

    original  most_freq
0  la grotta  la grotta

          original        most_freq
0  linker wandteil  linker wandteil

     original   most_freq
0  i pilastri  i pilastri

  original most_freq
0    bassa     bassa

    original  most_freq
0  casarotto  casarotto

  original most_freq
0  ulassai   ulassai

   original most_freq
0  paretone  paretone

   original most_freq
0  sinistro  sinistro

  original most_freq
0   grotta    grotta

     original   most_freq
0  anfiteatro  anfiteatro

  original most_freq
0   castel    castel

    original  most_freq
0  sperlonga  sperlonga

     original   most_freq
0  laboratori  laboratori

      original    most_freq
0  santa lucia  santa lucia

  original most_freq
0    isili     isili

  original most_freq
0     alto      alto

  original most_freq
0    basso     basso

     original   most_freq
0  principale  principale

    original  most_freq
0  belvedere  belvedere

                original             most_freq
0           ca la isabel          ca la isabel
1            ca lonassis           ca lonassis
2               ca lorro              ca lorro
3        can gans dionis       can gans dionis
4             can marges            can marges
..                   ...                   ...
30     siuranella centre     siuranella centre
31        siuranella est        siuranella est
32              solarium              solarium
33  grotta dell arenauta  grotta dell arenauta
34    morning glory wall    morning glory wall

[35 rows x 2 columns]

  original most_freq
0  ulassai   ulassai

      original    most_freq
0  bauso rosso  bauso rosso

       original     most_freq
0  monte moneta  monte moneta

     original   most_freq
0  principale  principale

    original  most_freq
0  belvedere  belvedere

  original most_freq
0     arco      arco

    original  most_freq
0     cuevas     cuevas
1  raven tor  raven tor
2    rubicon    rubicon
3    stanage    stanage
4       luce       luce

  original most_freq
0   destro    destro

  original most_freq
0     dado      dado

  original most_freq
0   rechts    rechts

    original  most_freq
0     kanzel     kanzel
1  kolosseum  kolosseum
2  kreuzwand  kreuzwand
3  rote wand  rote wand

usa

          original       most_freq
0        dark side       dark side
1       motherlode      motherlode
2         alcatraz        alcatraz
3             area            area
4          arsenal         arsenal
..             ...             ...
72    upper meadow    upper meadow
73  volunteer wall  volunteer wall
74      waterworld      waterworld
75    whippoorwill    whippoorwill
76      white wall      white wall

[77 rows x 2 columns]

               original            most_freq
0         central gorge        central gorge
1            china wall           china wall
2             dihedrals            dihedrals
3   great wall of china  great wall of china
4           inner gorge          inner gorge
..                  ...                  ...
7                  roof                 roof
8            sanitarium           sanitarium
9                sector               sector
10             solarium             solarium
11          upper gorge          upper gorge

[12 rows x 2 columns]

          original       most_freq
0           waimea          waimea
1           bonsai          bonsai
2             crag            crag
3      hinterlands     hinterlands
4      jimmy cliff     jimmy cliff
..             ...             ...
8          monster         monster
9         new wave        new wave
10    orange crush    orange crush
11      prudential      prudential
12  triple corners  triple corners

[13 rows x 2 columns]

          original        most_freq
0       box canyon       box canyon
1      bridge area      bridge area
2  bridge buttress  bridge buttress
3         compound         compound
4    damascus gate    damascus gate
5           matrix           matrix
6          minimum          minimum
7        pipedream        pipedream
8         pipeline         pipeline
9       wiper wall       wiper wall

         original      most_freq
0       anti phil      anti phil
1         arsenal        arsenal
2         bauhaus        bauhaus
3       ice caves      ice caves
4      lower tier     lower tier
..            ...            ...
8    ruckman cave   ruckman cave
9   the sanctuary  the sanctuary
10   the fortress   the fortress
11      wasteland      wasteland
12    wicked cave    wicked cave

[13 rows x 2 columns]

        original      most_freq
0        concave        concave
1    crazy house    crazy house
2      grey wall      grey wall
3    lizard wall    lizard wall
4  the dihedrals  the dihedrals
5      toomsooba      toomsooba
6       toomsuba       toomsuba
7     unshackled     unshackled
8      wave wall      wave wall

        original      most_freq
0   cactus cliff   cactus cliff
1   contest wall   contest wall
2  the dark side  the dark side
3    the gallery    the gallery
4           hulk           hulk
5      north end      north end
6       the bank       the bank
7        the gym        the gym

              original           most_freq
0   morning glory wall  morning glory wall
1          aggro gully         aggro gully
2   christian brothers  christian brothers
3            dihedrals           dihedrals
4            east face           east face
..                 ...                 ...
6           mesa verde          mesa verde
7             red wall            red wall
8       shipwreck wall      shipwreck wall
9              the zoo             the zoo
10         upper gorge         upper gorge

[11 rows x 2 columns]

          original       most_freq
0      the gallery     the gallery
1   black corridor  black corridor
2         cannabis        cannabis
3    cannibal crag   cannibal crag
4       eagle wall      eagle wall
..             ...             ...
12       sunnyside       sunnyside
13        the pier        the pier
14    tsunami wall    tsunami wall
15    wake up wall    wake up wall
16      waterworld      waterworld

[17 rows x 2 columns]

       original     most_freq
0   lilly bluff   lilly bluff
1  little clear  little clear
2   north clear   north clear
3    river wall    river wall
4   south clear   south clear
5      tierrany      tierrany

        original      most_freq
0       membrane       membrane
1      billboard      billboard
2     bingo baby     bingo baby
3       cannabis       cannabis
4  division wall  division wall
5      hard rock      hard rock
6           hell           hell
7     watchtower     watchtower

        original      most_freq
0   animal world   animal world
1         avalon         avalon
2    berlin wall    berlin wall
3  bowling alley  bowling alley
4    castle rock    castle rock
5    easter rock    easter rock
6        solaris        solaris
7     sport park     sport park

             original           most_freq
0         circus wall         circus wall
1  cliffs of insanity  cliffs of insanity
2            far east            far east
3           goat cave           goat cave
4         north forty         north forty
5               south               south
6             titanic             titanic

              original            most_freq
0  battle of the bulge  battle of the bulge
1             cat wall             cat wall
2   cliffs of insanity   cliffs of insanity
3             scarface             scarface
4  supercrack buttress  supercrack buttress
5             the wall             the wall

  original most_freq
0   trapps    trapps

      original    most_freq
0  circus wall  circus wall
1         crag         crag
2     dry wall     dry wall
3    ice caves    ice caves
4   lake point   lake point
5   metropolis   metropolis
6      slavery      slavery

      original    most_freq
0    main wall    main wall
1  the dungeon  the dungeon
2      the pit      the pit
3    wave wall    wave wall

        original      most_freq
0           area           area
1  robbers roost  robbers roost
2  south central  south central
3       the hood       the hood

       original     most_freq
0   soul asylum   soul asylum
1  sunset alley  sunset alley
2   the diamond   the diamond
3  wailing wall  wailing wall

     original   most_freq
0   nevermind   nevermind
1  world wall  world wall

        original      most_freq
0     highlander     highlander
1     primo wall     primo wall
2     river wall     river wall
3  wall of the s  wall of the s

        original      most_freq
0       darkside       darkside
1        mohican        mohican
2       sunshine       sunshine
3  the dark side  the dark side

    original  most_freq
0  main wall  main wall
1  ok corral  ok corral

        original      most_freq
0  hardware wall  hardware wall
1    killer cave    killer cave
2      main wall      main wall
3      sanctuary      sanctuary

          original        most_freq
0  blacksmith wall  blacksmith wall
1    hardware wall    hardware wall
2      hidden wall      hidden wall

             original           most_freq
0                area                area
1           dihedrals           dihedrals
2           jimmywood           jimmywood
3  red light district  red light district
4          white wall          white wall

       original     most_freq
0     cathedral     cathedral
1     meat wall     meat wall
2  wailing wall  wailing wall

             original           most_freq
0          china cave          china cave
1          china wall          china wall
2  cliffs of insanity  cliffs of insanity
3            hardware            hardware

        original      most_freq
0      cathedral      cathedral
1       the cave       the cave
2      left wall      left wall
3          lower          lower
4      north end      north end
5  sunshine wall  sunshine wall
6   wailing wall   wailing wall

             original           most_freq
0   all american wall   all american wall
1         berlin wall         berlin wall
2          down under          down under
3          eagle wall          eagle wall
4            far side            far side
5           main wall           main wall
6  red light district  red light district

        original      most_freq
0    circus wall    circus wall
1     long point     long point
2      long wall      long wall
3  orange oswald  orange oswald
4   the coliseum   the coliseum
5   whippoorwill   whippoorwill

            original          most_freq
0           monolith           monolith
1  pedestal buttress  pedestal buttress
2           the east           the east

        original      most_freq
0   amphitheater   amphitheater
1           left           left
2          north          north
3  south squared  south squared
4      wasteland      wasteland
5      waterfall      waterfall

      original    most_freq
0  ampitheatre  ampitheatre
1       crag x       crag x
2   four tiers   four tiers
3   main cliff   main cliff
4    main wall    main wall
5     the cave     the cave
6   upper tier   upper tier

       original     most_freq
0  amphitheater  amphitheater
1          cave          cave
2      projects      projects

         original       most_freq
0  discovery wall  discovery wall
1        headwall        headwall
2        mainwall        mainwall
3      upper wall      upper wall

       original     most_freq
0    great wall    great wall
1      gus fruh      gus fruh
2      new wall      new wall
3  seismic wall  seismic wall

     original   most_freq
0  the alcove  the alcove
1        cave        cave
2    dry wall    dry wall
3      grotto      grotto
4  left flank  left flank
5  white wall  white wall

       original     most_freq
0      amazonia      amazonia
1      far side      far side
2     neverland     neverland
3     nevermind     nevermind
4    shangri la    shangri la
5  world wall i  world wall i

    original  most_freq
0  main wall  main wall
1  the grail  the grail

           original         most_freq
0  chuckawalla wall  chuckawalla wall
1    st george utah    st george utah

        original      most_freq
0        gallery        gallery
1  promised land  promised land

  original most_freq
0     left      left
1    lower     lower
2   middle    middle
3    north     north
4    right     right
5    upper     upper

    original  most_freq
0     alcove     alcove
1  main wall  main wall

         original       most_freq
0       main wall       main wall
1        overlook        overlook
2  the playground  the playground
3         the pit         the pit

        original      most_freq
0     box canyon     box canyon
1  jurassic park  jurassic park
2       nautilus       nautilus

         original       most_freq
0  riverview park  riverview park
1   sunshine wall   sunshine wall

            original          most_freq
0  right of the roof  right of the roof
1          riverside          riverside
2         the shield         the shield

     original   most_freq
0   main rock   main rock
1   main wall   main wall
2  north face  north face
3     the egg     the egg
4   west face   west face

     original   most_freq
0  the grotto  the grotto
1    sun wall    sun wall
2    the hole    the hole

          original        most_freq
0             area             area
1     lower meadow     lower meadow
2      orange wall      orange wall
3  the other place  the other place

       original     most_freq
0  amphitheatre  amphitheatre
1   circus wall   circus wall
2     fire wall     fire wall
3     north end     north end

   original most_freq
0    alcove    alcove
1      area      area
2  roadside  roadside
3  the wave  the wave

             original           most_freq
0                cave                cave
1  rock climbing area  rock climbing area

     original   most_freq
0  el capitan  el capitan
1   sanctuary   sanctuary

    original  most_freq
0  ruth lake  ruth lake

         original       most_freq
0          canyon          canyon
1  dead cats wall  dead cats wall
2        gus fruh        gus fruh

    original  most_freq
0       cave       cave
1      right      right
2  st george  st george

        original      most_freq
0       atlantis       atlantis
1   the coliseum   the coliseum
2    the lookout    the lookout
3     the shield     the shield
4           cave           cave
5       dry wall       dry wall
6  roadside crag  roadside crag

     original   most_freq
0  swamp cave  swamp cave

   original most_freq
0  invasion  invasion
1  the hood  the hood

         original       most_freq
0      shady side      shady side
1  st george utah  st george utah
2      sunny side      sunny side

      original    most_freq
0  orange wall  orange wall
1     the bear     the bear

      original    most_freq
0  hidden wall  hidden wall
1     red wall     red wall

      original    most_freq
0  crazy horse  crazy horse
1    meat wall    meat wall

     original   most_freq
0    big cave    big cave
1  small cave  small cave

    original  most_freq
0  main wall  main wall
1  the beach  the beach

      original    most_freq
0  winter wall  winter wall

         original       most_freq
0  discovery wall  discovery wall
1        monolith        monolith

        original      most_freq
0    castle rock    castle rock
1  the sanctuary  the sanctuary

         original       most_freq
0  centenial glen  centenial glen
1      the ghetto      the ghetto
2        the wave        the wave

  original most_freq
0     main      main
1   middle    middle
2    right     right

   original most_freq
0  overlook  overlook
1   the zoo   the zoo

     original   most_freq
0  the palace  the palace
1   the beach   the beach

      original    most_freq
0  jimmy cliff  jimmy cliff
1   motherlode   motherlode
2     overlook     overlook

     original   most_freq
0  lower wall  lower wall
1   main wall   main wall

     original   most_freq
0  shady side  shady side
1   sunnyside   sunnyside

   original most_freq
0  the wall  the wall

    original  most_freq
0  main wall  main wall

     original   most_freq
0  north face  north face
1  south face  south face
2       tower       tower

    original  most_freq
0    babylon    babylon
1  waterfall  waterfall

    original  most_freq
0  main wall  main wall

      original    most_freq
0   lower wall   lower wall
1  the diamond  the diamond
2   upper wall   upper wall

    original  most_freq
0   mainwall   mainwall
1   the cave   the cave
2  waterfall  waterfall

  original most_freq
0   rincon    rincon

    original  most_freq
0  main cave  main cave
1  left wall  left wall
2  main wall  main wall
3   the cave   the cave

     original   most_freq
0  the shield  the shield

    original  most_freq
0    boulder    boulder
1  main wall  main wall

      original    most_freq
0  ampitheatre  ampitheatre
1    the beach    the beach

    original  most_freq
0       alta       alta
1  dihedrals  dihedrals
2    the egg    the egg

  original most_freq
0     left      left
1     main      main

     original   most_freq
0  north face  north face
1  south face  south face
2  south side  south side
3    sun wall    sun wall

       original     most_freq
0  the fortress  the fortress
1  pebble beach  pebble beach

     original   most_freq
0   east face   east face
1  north face  north face
2  north wall  north wall

        original      most_freq
0  mustache wall  mustache wall

       original     most_freq
0      gus fruh      gus fruh
1      new wall      new wall
2     sanctuary     sanctuary
3  seismic wall  seismic wall

    original  most_freq
0      lower      lower
1  main wall  main wall
2     middle     middle

      original    most_freq
0      central      central
1  el callejon  el callejon
2   sunny side   sunny side

     original   most_freq
0  grand wall  grand wall
1  shady side  shady side
2   waterfall   waterfall

      original    most_freq
0        north        north
1  orange wall  orange wall
2        south        south
3    waterfall    waterfall

  original most_freq
0    arena     arena
1   europa    europa

     original   most_freq
0  box canyon  box canyon
1  north wall  north wall

        original      most_freq
0  mustache wall  mustache wall

   original most_freq
0  the cave  the cave

  original most_freq
0  rubicon   rubicon

    original  most_freq
0  fire wall  fire wall

     original   most_freq
0  california  california
1   red rocks   red rocks
2    solarium    solarium
3   spartacus   spartacus

     original   most_freq
0        cave        cave
1  lower tier  lower tier
2  south wall  south wall
3  upper tier  upper tier
4  upper wall  upper wall

    original  most_freq
0   big wall   big wall
1  main wall  main wall

      original    most_freq
0  berlin wall  berlin wall
1   north face   north face
2     red wall     red wall

         original       most_freq
0  st george utah  st george utah

  original most_freq
0    right     right
1    tower     tower

     original   most_freq
0  right side  right side
1     the zoo     the zoo

   original most_freq
0  atlantis  atlantis

            original          most_freq
0  all american wall  all american wall
1          waterfall          waterfall

     original   most_freq
0      mordor      mordor
1  the shield  the shield

        original      most_freq
0     great wall     great wall
1     lost world     lost world
2  morning glory  morning glory
3    the dungeon    the dungeon
4     white wall     white wall

     original   most_freq
0       north       north
1    the cave    the cave
2  the grotto  the grotto

    original  most_freq
0  main wall  main wall

  original most_freq
0    north     north
1    south     south

     original   most_freq
0   main cave   main cave
1   main wall   main wall
2       right       right
3  south wall  south wall

      original    most_freq
0   the grotto   the grotto
1  winter wall  winter wall

    original  most_freq
0     europa     europa
1  fire wall  fire wall

     original   most_freq
0   main face   main face
1  north face  north face

     original   most_freq
0   main wall   main wall
1  upper tier  upper tier

     original   most_freq
0        left        left
1  right side  right side

     original   most_freq
0  main cliff  main cliff
1   main wall   main wall

    original  most_freq
0  main wall  main wall

  original most_freq
0     left      left

    original  most_freq
0       east       east
1  main wall  main wall

     original   most_freq
0       north       north
1  south wall  south wall

     original   most_freq
0  california  california
1        cave        cave
2   left side   left side
3   left wall   left wall

      original    most_freq
0   lower tier   lower tier
1  castle rock  castle rock
2    east face    east face
3    main wall    main wall
4   south side   south side

  original most_freq
0    lower     lower
1    upper     upper

     original   most_freq
0  watchtower  watchtower

   original most_freq
0  boneyard  boneyard

     original   most_freq
0  the ghetto  the ghetto

       original     most_freq
0  olympic wall  olympic wall
1    the grotto    the grotto

     original   most_freq
0  waterworld  waterworld

     original   most_freq
0  white wall  white wall

     original   most_freq
0   west face   west face
1  south wall  south wall

         original       most_freq
0  forgotten wall  forgotten wall
1        the cave        the cave

  original most_freq
0     left      left
1   middle    middle

    original  most_freq
0    boulder    boulder
1     middle     middle
2  the beach  the beach

     original   most_freq
0  south face  south face

     original   most_freq
0  upper tier  upper tier

        original      most_freq
0  the dark side  the dark side

         original       most_freq
0     the dungeon     the dungeon
1  the playground  the playground

  original most_freq
0   middle    middle
1    right     right

       original     most_freq
0   berlin wall   berlin wall
1  wake up wall  wake up wall

    original  most_freq
0  main face  main face
1      north      north
2  riverside  riverside
3   roadside   roadside
4      upper      upper

     original   most_freq
0   main face   main face
1  white wall  white wall

     original   most_freq
0  right side  right side
1   riverside   riverside

    original  most_freq
0  main wall  main wall

        original      most_freq
0  the dark side  the dark side

       original     most_freq
0  the fortress  the fortress
1   the gallery   the gallery

      original    most_freq
0  bridge area  bridge area

    original  most_freq
0  monastery  monastery

           original         most_freq
0          atlantis          atlantis
1       bergstation       bergstation
2             chaos             chaos
3  ewige jagdgrunde  ewige jagdgrunde
4          furstein          furstein
5     monkey island     monkey island
6         nasenwand         nasenwand
7         rabenwand         rabenwand
8     schwarze wand     schwarze wand
9       ubungswandl       ubungswandl

    original  most_freq
0  the beach  the beach

  original most_freq
0     left      left
1   middle    middle

     original   most_freq
0   left side   left side
1   main wall   main wall
2  right side  right side

   original most_freq
0   babylon   babylon
1  roadside  roadside

    original  most_freq
0   projects   projects
1  superbowl  superbowl

   original most_freq
0  red wall  red wall

    original  most_freq
0  red rocks  red rocks

    original  most_freq
0  main wall  main wall

     original   most_freq
0  shady side  shady side
1  sunny side  sunny side

         original       most_freq
0  shipwreck wall  shipwreck wall

     original   most_freq
0  lower wall  lower wall
1   st george   st george

   original most_freq
0  roadside  roadside

      original    most_freq
0    spearhead    spearhead
1  the diamond  the diamond

         original       most_freq
0  st george utah  st george utah

       original     most_freq
0  amphitheater  amphitheater
1          left          left
2    right side    right side

      original    most_freq
0  sunset wall  sunset wall

     original   most_freq
0  south face  south face

    original  most_freq
0  fire wall  fire wall

         original       most_freq
0  discovery wall  discovery wall
1        monolith        monolith

   original most_freq
0  yosemite  yosemite

         original       most_freq
0  st george utah  st george utah

      original    most_freq
0  the diamond  the diamond
1  lizard wall  lizard wall
2    wave wall    wave wall

      original    most_freq
0  sunset wall  sunset wall

   original most_freq
0  big cave  big cave

  original most_freq
0     main      main
1   middle    middle

     original   most_freq
0  right side  right side

    original  most_freq
0  main wall  main wall

      original    most_freq
0  the lookout  the lookout

    original  most_freq
0  monastery  monastery

     original   most_freq
0  shangri la  shangri la

    original  most_freq
0  main wall  main wall

     original   most_freq
0  south face  south face

  original most_freq
0  the pit   the pit

             original           most_freq
0  rock climbing area  rock climbing area

        original      most_freq
0     fruit wall     fruit wall
1  secret garden  secret garden

    original  most_freq
0  red rocks  red rocks

    original  most_freq
0  main wall  main wall

     original   most_freq
0  white wall  white wall

     original   most_freq
0  upper tier  upper tier

         original       most_freq
0  st george utah  st george utah

    original  most_freq
0  main wall  main wall

     original   most_freq
0  main cliff  main cliff

      original    most_freq
0         roof         roof
1  winter wall  winter wall

   original most_freq
0  headwall  headwall

    original  most_freq
0  the tower  the tower

   original most_freq
0  yosemite  yosemite

    original  most_freq
0  north end  north end
1      south      south

       original     most_freq
0  amphitheater  amphitheater
1    the ghetto    the ghetto

    original  most_freq
0  left wall  left wall
1  main wall  main wall

     original   most_freq
0  north face  north face
1    red wall    red wall
2     montagu     montagu

   original most_freq
0  far side  far side

    original  most_freq
0     wanaka     wanaka
1  red rocks  red rocks

    original  most_freq
0  the tower  the tower

      original    most_freq
0  winter wall  winter wall

     original   most_freq
0  river wall  river wall

  original most_freq
0   middle    middle

   original most_freq
0  the cave  the cave

           original         most_freq
0  chuckawalla wall  chuckawalla wall

     original   most_freq
0  lower tier  lower tier

         original       most_freq
0  st george utah  st george utah

    original  most_freq
0  main wall  main wall

    original  most_freq
0  red rocks  red rocks

              original            most_freq
0  battle of the bulge  battle of the bulge

   original most_freq
0  new wave  new wave

     original   most_freq
0  north wall  north wall

    original  most_freq
0  main face  main face
1  main wall  main wall

            original          most_freq
0  pedestal buttress  pedestal buttress
1         south side         south side

    original  most_freq
0  main wall  main wall

     original   most_freq
0    the hood    the hood
1  white wall  white wall

   original most_freq
0  the cave  the cave

    original  most_freq
0  main wall  main wall

    original  most_freq
0  main wall  main wall

  original most_freq
0   middle    middle

       original     most_freq
0  amphitheater  amphitheater

     original   most_freq
0  north face  north face

      original    most_freq
0  lower gorge  lower gorge

         original      most_freq
0          canyon         canyon
1         central        central
2           corse          corse
3          droite         droite
4      face ouest     face ouest
..            ...            ...
8          milieu         milieu
9   nouveau monde  nouveau monde
10    secret spot    secret spot
11      red rocks      red rocks
12           roof           roof

[13 rows x 2 columns]

      original    most_freq
0  castle rock  castle rock

    original  most_freq
0  main rock  main rock

  original most_freq
0   alcove    alcove

  original most_freq
0     cave      cave

        original      most_freq
0     china wall     china wall
1  the main wall  the main wall

    original  most_freq
0  red rocks  red rocks

         original       most_freq
0  st george utah  st george utah

       original     most_freq
0   the gallery   the gallery
1  tsunami wall  tsunami wall

    original  most_freq
0  red rocks  red rocks

     original   most_freq
0  first cave  first cave

     original   most_freq
0  lower wall  lower wall

  original most_freq
0     left      left

         original       most_freq
0  st george utah  st george utah

    original  most_freq
0  main wall  main wall

   original most_freq
0  yosemite  yosemite

    original  most_freq
0  red rocks  red rocks

    original  most_freq
0  main wall  main wall

      original    most_freq
0  ampitheatre  ampitheatre

  original most_freq
0     west      west

    original  most_freq
0  main wall  main wall

    original  most_freq
0  red rocks  red rocks

  original most_freq
0    right     right

  original most_freq
0     pmrp      pmrp

          original        most_freq
0  the other place  the other place

        original      most_freq
0  sunshine wall  sunshine wall

    original  most_freq
0  main wall  main wall

    original  most_freq
0  red rocks  red rocks

  original most_freq
0     cave      cave

    original  most_freq
0  west face  west face

     original   most_freq
0  south side  south side

     original   most_freq
0  right side  right side

    original  most_freq
0  main wall  main wall

    original  most_freq
0  st george  st george

   original most_freq
0  yosemite  yosemite

    original  most_freq
0  moby dick  moby dick

    original  most_freq
0  red rocks  red rocks

    original  most_freq
0  main wall  main wall

    original  most_freq
0  the tower  the tower

    original  most_freq
0  nevermind  nevermind

   original most_freq
0  yosemite  yosemite

    original  most_freq
0  mota wall  mota wall

   original most_freq
0  yosemite  yosemite

     original   most_freq
0  river wall  river wall

    original  most_freq
0  main wall  main wall

   original most_freq
0  overlook  overlook

   original most_freq
0  red wall  red wall

        original      most_freq
0  sunshine wall  sunshine wall

    original  most_freq
0  cathedral  cathedral

       original     most_freq
0  endless wall  endless wall

   original most_freq
0  mainwall  mainwall

    original  most_freq
0  red rocks  red rocks

     original   most_freq
0  highlander  highlander

    original  most_freq
0  north end  north end

  original most_freq
0     main      main

      original    most_freq
0  ampitheatre  ampitheatre

        original      most_freq
0     el pasillo     el pasillo
1      el puente      el puente
2  jurassic park  jurassic park
3       la cueva       la cueva
4     lost world     lost world

  original most_freq
0     pmrp      pmrp

      original    most_freq
0  castle rock  castle rock

   original most_freq
0  the cave  the cave

   original most_freq
0  far side  far side

   original most_freq
0  solarium  solarium

         original       most_freq
0  the playground  the playground

    original  most_freq
0  neverland  neverland

     original   most_freq
0  main cliff  main cliff
1        crag        crag

     original   most_freq
0  white wall  white wall

  original most_freq
0     east      east

    original  most_freq
0  red rocks  red rocks

         original       most_freq
0  st george utah  st george utah

                original             most_freq
0           ca la isabel          ca la isabel
1            ca lonassis           ca lonassis
2               ca lorro              ca lorro
3        can gans dionis       can gans dionis
4             can marges            can marges
..                   ...                   ...
30     siuranella centre     siuranella centre
31        siuranella est        siuranella est
32              solarium              solarium
33  grotta dell arenauta  grotta dell arenauta
34    morning glory wall    morning glory wall

[35 rows x 2 columns]

  original most_freq
0  monster   monster

         original      most_freq
0        cat wall       cat wall
1         central        central
2       dihedrals      dihedrals
3          la ola         la ola
4        la selva       la selva
..            ...            ...
9    outrage wall   outrage wall
10  potrero chico  potrero chico
11    scrutinizer    scrutinizer
12       the wave       the wave
13  virgin canyon  virgin canyon

[14 rows x 2 columns]

        original      most_freq
0  promised land  promised land

    original  most_freq
0  main wall  main wall

    original  most_freq
0  fire wall  fire wall

   original most_freq
0  yosemite  yosemite

   original most_freq
0  yosemite  yosemite

    original  most_freq
0  st george  st george

  original most_freq
0     pmrp      pmrp

     original   most_freq
0  watchtower  watchtower

     original   most_freq
0  el capitan  el capitan

   original most_freq
0  yosemite  yosemite

      original    most_freq
0  castle rock  castle rock

      original    most_freq
0  near trapps  near trapps

        original      most_freq
0  hardware wall  hardware wall

     original   most_freq
0  the grotto  the grotto

  original most_freq
0    lower     lower

     original   most_freq
0       amphi       amphi
1       droit       droit
2   principal   principal
3        vire        vire
4  left flank  left flank

          original        most_freq
0  bruise brothers  bruise brothers

    original  most_freq
0  east face  east face

        original      most_freq
0  sunshine wall  sunshine wall

    original  most_freq
0  main wall  main wall

    original  most_freq
0  east face  east face

         original       most_freq
0     the steeple     the steeple
1     berlin wall     berlin wall
2   jurassic park   jurassic park
3        legoland        legoland
4         montagu         montagu
5      the palace      the palace
6  the playground  the playground
7     ramset crag     ramset crag
8        sector a        sector a
9      waterworld      waterworld

   original most_freq
0  the hole  the hole

   original most_freq
0  roadside  roadside

         original       most_freq
0  st george utah  st george utah

   original most_freq
0  yosemite  yosemite

         original       most_freq
0  dol kobylanska  dol kobylanska

    original  most_freq
0  the tower  the tower

  original most_freq
0    lower     lower

    original  most_freq
0  main wall  main wall

  original most_freq
0     left      left

    original  most_freq
0  spearhead  spearhead

pol

           original        most_freq
0    chochoowe skay   chochoowe skay
1   dolina szklarki  dolina szklarki
2        dupa sonia       dupa sonia
3             fiala            fiala
4          goa skaa         goa skaa
..              ...              ...
17          szklary          szklary
18    witkowe skaly    witkowe skaly
19     wschodni mur     wschodni mur
20          wzgorze          wzgorze
21   zamarla turnia   zamarla turnia

[22 rows x 2 columns]

         original      most_freq
0        labajowa       labajowa
1       biay pies      biay pies
2    cmentarzysko   cmentarzysko
3     dupa slonia    dupa slonia
4           fiala          fiala
..            ...            ...
15         wysoka         wysoka
16        wzgorze        wzgorze
17    zaklety mur    zaklety mur
18  zamara turnia  zamara turnia
19    zytnie skay    zytnie skay

[20 rows x 2 columns]

            original         most_freq
0             apteka            apteka
1         biblioteka        biblioteka
2   brzuchata turnia  brzuchata turnia
3           dziewica          dziewica
4               ezec              ezec
..               ...               ...
14        popielarka        popielarka
15              ptak              ptak
16        rzedkowice        rzedkowice
17  turnia kursantow  turnia kursantow
18       wodna skala       wodna skala

[19 rows x 2 columns]

             original          most_freq
0                baba               baba
1              chatka             chatka
2    dolina bedkowska   dolina bedkowska
3   jastrzebia turnia  jastrzebia turnia
4       krzywa turnia      krzywa turnia
..                ...                ...
12            szklary            szklary
13               tepa               tepa
14       witkowe skay       witkowe skay
15       zamkowe skay       zamkowe skay
16    zipserowa czuba    zipserowa czuba

[17 rows x 2 columns]

         original       most_freq
0        aligator        aligator
1       kamieniec       kamieniec
2   krowia turnia   krowia turnia
3         obelisk         obelisk
4         przadki         przadki
5     secret spot     secret spot
6  sokoli grzbiet  sokoli grzbiet
7      strzelnica      strzelnica
8        wielblad        wielblad
9          wysoka          wysoka

       original    most_freq
0         adept        adept
1    gora birow   gora birow
2      dziewica     dziewica
3       goebnik      goebnik
4          jura         jura
..          ...          ...
9     podzamcze    podzamcze
10  suchy polec  suchy polec
11   szara pyta   szara pyta
12     wielblad     wielblad
13  wielka cima  wielka cima

[14 rows x 2 columns]

       original     most_freq
0      mamutowa      mamutowa
1        polnik        polnik
2  zamkowe skay  zamkowe skay
3  zytnie skaly  zytnie skaly

          original        most_freq
0      brzoskwinia      brzoskwinia
1  cyganska turnia  cyganska turnia
2     dzika baszta     dzika baszta
3        kazalnica        kazalnica
4        obchodnia        obchodnia
5       wezie skay       wezie skay
6       wodna skaa       wodna skaa

                      original                    most_freq
0                         baba                         baba
1                    biay pies                    biay pies
2                  czarny pies                  czarny pies
3             diabelskie mosty             diabelskie mosty
4                   kacza skaa                   kacza skaa
5       kazalnica suliszowicka       kazalnica suliszowicka
6                    ostreznik                    ostreznik
7             proxima centauri             proxima centauri
8  straznica przewodziszowicka  straznica przewodziszowicka

             original          most_freq
0   jastrzebia turnia  jastrzebia turnia
1                kula               kula
2             lotniki            lotniki
3               mnich              mnich
4             obelisk            obelisk
..                ...                ...
7          szara pyta         szara pyta
8     turnia dlugosza    turnia dlugosza
9    turnia z krokiem   turnia z krokiem
10      wronia baszta      wronia baszta
11    zjazdowa turnia    zjazdowa turnia

[12 rows x 2 columns]

         original      most_freq
0         abajowa        abajowa
1          apteka         apteka
2            baba           baba
3      bialy pies     bialy pies
4      biblioteka     biblioteka
..            ...            ...
35  wielka turnia  wielka turnia
36   witkowe skay   witkowe skay
37         wysoka         wysoka
38        wzgorze        wzgorze
39       zegarowa       zegarowa

[40 rows x 2 columns]

            original         most_freq
0         biblioteka        biblioteka
1   brzuchata turnia  brzuchata turnia
2               jura              jura
3       lesna turnia      lesna turnia
4              mnich             mnich
..               ...               ...
6         rzedkowice        rzedkowice
7          studnisko         studnisko
8   turnia kursantow  turnia kursantow
9             wysoka            wysoka
10          zegarowa          zegarowa

[11 rows x 2 columns]

          original        most_freq
0         barwinek         barwinek
1        cydzownik        cydzownik
2             ezec             ezec
3             gips             gips
4      heavy metal      heavy metal
5       nietoperze       nietoperze
6            petwa            petwa
7       popielarka       popielarka
8  skaa przy zamku  skaa przy zamku
9   skaa z krzyzem   skaa z krzyzem

         original       most_freq
0      goncerzyca      goncerzyca
1  jaskinia jasna  jaskinia jasna
2        zegarowa        zegarowa
3   park jurajski   park jurajski

             original          most_freq
0          biblioteka         biblioteka
1              boniek             boniek
2            dziewica           dziewica
3   januszkowa baszta  januszkowa baszta
4               mnich              mnich
..                ...                ...
6           pielgrzym          pielgrzym
7          przy zamku         przy zamku
8               szafa              szafa
9     turnia kukuczki    turnia kukuczki
10       zielona gora       zielona gora

[11 rows x 2 columns]

       original     most_freq
0    biblioteka    biblioteka
1         fajka         fajka
2        krzywa        krzywa
3      malinowa      malinowa
4   skalny most   skalny most
5     straznica     straznica
6         szafa         szafa
7      widokowa      widokowa
8  zamkowe skay  zamkowe skay

          original        most_freq
0       biblioteka       biblioteka
1             jura             jura
2            mirow            mirow
3            mnich            mnich
4       przy zamku       przy zamku
5        studnisko        studnisko
6            szafa            szafa
7       szara pyta       szara pyta
8     trzy siostry     trzy siostry
9  turnia kukuczki  turnia kukuczki

         original       most_freq
0       kazalnica       kazalnica
1           mnich           mnich
2  zamarla turnia  zamarla turnia

   original most_freq
0     grota     grota
1  kramnica  kramnica
2   obazowa   obazowa

    original  most_freq
0     boniek     boniek
1  pielgrzym  pielgrzym

           original         most_freq
0     filar abazego     filar abazego
1  filar pokutnikow  filar pokutnikow
2    zamarla turnia    zamarla turnia

            original          most_freq
0  grochowiec wielki  grochowiec wielki
1          pancernik          pancernik
2               slon               slon
3   straszykowe skay   straszykowe skay

            original          most_freq
0             jezory             jezory
1           pochylec           pochylec
2  skaa nad potokiem  skaa nad potokiem

         original       most_freq
0       kapliczka       kapliczka
1  skaa z krzyzem  skaa z krzyzem
2         zotowka         zotowka

            original          most_freq
0            balkony            balkony
1  januszkowa baszta  januszkowa baszta
2            pazurek            pazurek

       original     most_freq
0  powroznikowa  powroznikowa
1        racuch        racuch
2    skotnicowa    skotnicowa

    original  most_freq
0  skurwysyn  skurwysyn

          original        most_freq
0  dolina szklarki  dolina szklarki
1             jura             jura
2     ogrodzieniec     ogrodzieniec
3         ostatnia         ostatnia
4           przeaz           przeaz
5         soneczne         soneczne
6     wschodni mur     wschodni mur

          original        most_freq
0  skotnicowa skaa  skotnicowa skaa

      original    most_freq
0       boniek       boniek
1    pielgrzym    pielgrzym
2  sokole gory  sokole gory

             original           most_freq
0              jezory              jezory
1  skala nad potokiem  skala nad potokiem

          original        most_freq
0           roznow           roznow
1       szara pyta       szara pyta
2  zjazdowa turnia  zjazdowa turnia

     original   most_freq
0    barwinek    barwinek
1   cydzownik   cydzownik
2  nietoperze  nietoperze

                      original                    most_freq
0  straznica przewodziszowicka  straznica przewodziszowicka

       original     most_freq
0      krzewiny      krzewiny
1  rzedowa skaa  rzedowa skaa

    original  most_freq
0   stokowka   stokowka
1  zachodnia  zachodnia

  original most_freq
0     knur      knur
1     slon      slon

    original  most_freq
0  pancernik  pancernik
1       slon       slon

   original most_freq
0      kruk      kruk
1   tsunami   tsunami
2  widokowa  widokowa
3  wielblad  wielblad

            original          most_freq
0  januszkowa baszta  januszkowa baszta

           original         most_freq
0  dolina bedkowska  dolina bedkowska

         original       most_freq
0      kacza skaa      kacza skaa
1           petwa           petwa
2  skaa z krzyzem  skaa z krzyzem
3         wzgorze         wzgorze

  original most_freq
0   kanapa    kanapa
1   organy    organy

         original       most_freq
0          freney          freney
1  jaskinia jasna  jaskinia jasna
2      szara pyta      szara pyta

   original most_freq
0  jaroniec  jaroniec

                 original               most_freq
0                    baba                    baba
1             czarny pies             czarny pies
2  kazalnica suliszowicka  kazalnica suliszowicka
3                   petwa                   petwa
4        proxima centauri        proxima centauri

     original   most_freq
0  gora birow  gora birow
1        jura        jura
2       petwa       petwa
3   pielgrzym   pielgrzym
4   podzamcze   podzamcze
5  szara pyta  szara pyta

     original   most_freq
0        jura        jura
1    okiennik    okiennik
2      przeaz      przeaz
3  rzedkowice  rzedkowice
4    sokoliki    sokoliki

       original     most_freq
0         fiala         fiala
1      ostatnia      ostatnia
2        racuch        racuch
3     sloneczne     sloneczne
4       witkowe       witkowe
5  wschodni mur  wschodni mur

     original   most_freq
0        jura        jura
1  pazurek ii  pazurek ii

           original         most_freq
0  dolina bedkowska  dolina bedkowska

    original  most_freq
0   barwinek   barwinek
1  cydzownik  cydzownik
2       jura       jura
3      mirow      mirow
4   okiennik   okiennik

         original       most_freq
0       kapliczka       kapliczka
1  skaa z krzyzem  skaa z krzyzem
2         zotowka         zotowka

       original     most_freq
0  skalna brama  skalna brama
1    skalny mur    skalny mur

     original   most_freq
0        jura        jura
1       petwa       petwa
2  popielarka  popielarka

  original most_freq
0   kanapa    kanapa

      original    most_freq
0  krucze skay  krucze skay

          original        most_freq
0    dol bedkowska    dol bedkowska
1  sloneczne skaly  sloneczne skaly
2         soneczne         soneczne
3          szklary          szklary

  original most_freq
0   organy    organy
1   wysoka    wysoka

      original    most_freq
0     dziewica     dziewica
1         jura         jura
2        mirow        mirow
3         ptak         ptak
4  wodna skala  wodna skala

        original      most_freq
0    krucze skay    krucze skay
1  krzywe baszty  krzywe baszty

    original  most_freq
0     apteka     apteka
1  podlesice  podlesice

       original     most_freq
0         petwa         petwa
1  zielona gora  zielona gora

    original  most_freq
0  kamieniec  kamieniec

   original most_freq
0  stryszow  stryszow

        original      most_freq
0  soneczne skay  soneczne skay
1   wschodni mur   wschodni mur

           original         most_freq
0  dolina bedkowska  dolina bedkowska

      original    most_freq
0   bialy pies   bialy pies
1  czarny pies  czarny pies
2         jura         jura
3     ostatnia     ostatnia

            original          most_freq
0  dolina kobylanska  dolina kobylanska

        original      most_freq
0  dol bedkowska  dol bedkowska

   original most_freq
0  aligator  aligator
1  wielblad  wielblad

       original     most_freq
0  dol szklarki  dol szklarki
1          jura          jura

            original          most_freq
0  dolina kobylanska  dolina kobylanska

            original          most_freq
0  kapitan garliczka  kapitan garliczka

     original   most_freq
0  strzelnica  strzelnica

     original   most_freq
0   kamieniec   kamieniec
1  rzedkowice  rzedkowice

          original        most_freq
0             baba             baba
1  dolina wiercicy  dolina wiercicy
2         sokoliki         sokoliki

            original          most_freq
0      dol bedkowska      dol bedkowska
1  dolina kobylanska  dolina kobylanska

         original       most_freq
0  dol kobylanska  dol kobylanska
1      gora birow      gora birow
2      rzedkowice      rzedkowice

    original  most_freq
0  kamieniec  kamieniec

          original        most_freq
0  dolina szklarki  dolina szklarki
1     jerzmanowice     jerzmanowice
2          szklary          szklary

        original      most_freq
0  krowia turnia  krowia turnia

   original most_freq
0  pochylec  pochylec

            original          most_freq
0  dolina kobylanska  dolina kobylanska

         original       most_freq
0   dol bedkowska   dol bedkowska
1  dol kobylanska  dol kobylanska

           original         most_freq
0              baba              baba
1         biay pies         biay pies
2  proxima centauri  proxima centauri

                 original               most_freq
0         dolina wiercicy         dolina wiercicy
1  kazalnica suliszowicka  kazalnica suliszowicka
2             suliszowice             suliszowice

        original      most_freq
0  soneczne skay  soneczne skay

         original       most_freq
0  jaskinia jasna  jaskinia jasna

         original       most_freq
0  dol kobylanska  dol kobylanska

             original           most_freq
0         brzoskwinia         brzoskwinia
1    dolina bedkowska    dolina bedkowska
2  dolina brzoskwinki  dolina brzoskwinki
3          gora birow          gora birow
4        zielona gora        zielona gora

       original     most_freq
0      okiennik      okiennik
1       szklary       szklary
2  witkowe skay  witkowe skay

         original       most_freq
0  sokoli grzbiet  sokoli grzbiet

     original   most_freq
0      kanapa      kanapa
1  polrzeczki  polrzeczki

        original      most_freq
0   dol szklarki   dol szklarki
1  soneczne skay  soneczne skay

       original     most_freq
0  skalna brama  skalna brama
1    skalny mur    skalny mur
2  trzy siostry  trzy siostry

  original most_freq
0  bastion   bastion
1    hades     hades
2    petwa     petwa

          original        most_freq
0  dolina wiercicy  dolina wiercicy

  original most_freq
0    mirow     mirow

     original   most_freq
0  rzedkowice  rzedkowice

           original         most_freq
0  dolina bedkowska  dolina bedkowska

       original     most_freq
0         fiala         fiala
1       goebnik       goebnik
2  jerzmanowice  jerzmanowice
3          jura          jura

      original    most_freq
0  gora zborow  gora zborow
1    podlesice    podlesice

      original    most_freq
0  ladek zdroj  ladek zdroj

     original   most_freq
0  grochowiec  grochowiec
1   podzamcze   podzamcze

  original most_freq
0     kula      kula

   original most_freq
0  stokowka  stokowka

        original      most_freq
0  krzywe baszty  krzywe baszty

      original    most_freq
0  gora zborow  gora zborow
1    podlesice    podlesice

        original      most_freq
0      kamieniec      kamieniec
1  krowia turnia  krowia turnia
2     strzelnica     strzelnica

   original most_freq
0  sokoliki  sokoliki

            original          most_freq
0  dolina kobylanska  dolina kobylanska

            original          most_freq
0  dolina kobylanska  dolina kobylanska

            original          most_freq
0  dolina kobylanska  dolina kobylanska

          original        most_freq
0  dolina szklarki  dolina szklarki
1       rzedkowice       rzedkowice

        original      most_freq
0     dupa sonia     dupa sonia
1     migdalkowa     migdalkowa
2  wielka turnia  wielka turnia

     original   most_freq
0  skotnicowa  skotnicowa

           original         most_freq
0              baba              baba
1         biay pies         biay pies
2   dolina wiercicy   dolina wiercicy
3  proxima centauri  proxima centauri

           original         most_freq
0  dolina bedkowska  dolina bedkowska

    original  most_freq
0  podzamcze  podzamcze

   original most_freq
0     grota     grota
1  oblazowa  oblazowa

         original       most_freq
0  dol kobylanska  dol kobylanska

            original          most_freq
0  dolina kobylanska  dolina kobylanska

          original        most_freq
0  dolina szklarki  dolina szklarki
1          szklary          szklary

          original        most_freq
0  dolina wiercicy  dolina wiercicy
1      suliszowice      suliszowice

            original          most_freq
0  kapitan garliczka  kapitan garliczka

           original         most_freq
0  straszykowe skay  straszykowe skay

          original        most_freq
0   dol kobylanska   dol kobylanska
1  ponocny bastion  ponocny bastion
2         sokoliki         sokoliki

       original     most_freq
0  witkowe skay  witkowe skay

      original    most_freq
0  gora zborow  gora zborow
1    podlesice    podlesice

             original           most_freq
0         brzoskwinia         brzoskwinia
1  dolina brzoskwinki  dolina brzoskwinki

      original    most_freq
0  suliszowice  suliszowice

         original       most_freq
0  sokoli grzbiet  sokoli grzbiet

        original      most_freq
0  krzywe baszty  krzywe baszty

      original    most_freq
0  gora zborow  gora zborow
1   strzelnica   strzelnica

  original most_freq
0    mirow     mirow

   original most_freq
0  sokoliki  sokoliki

          original        most_freq
0  dolina wiercicy  dolina wiercicy
1      suliszowice      suliszowice

              original            most_freq
0     dolina bedkowska     dolina bedkowska
1  dolina bolechowicka  dolina bolechowicka

  original most_freq
0    mnich     mnich

            original          most_freq
0  januszkowa baszta  januszkowa baszta
1           okiennik           okiennik
2         rzedkowice         rzedkowice

        original      most_freq
0  dol bedkowska  dol bedkowska

           original         most_freq
0  dolina bedkowska  dolina bedkowska
1         kamieniec         kamieniec

        original      most_freq
0  soneczne skay  soneczne skay

            original          most_freq
0  dolina kobylanska  dolina kobylanska

    original  most_freq
0  podzamcze  podzamcze

    original  most_freq
0  podzamcze  podzamcze

            original          most_freq
0  grochowiec wielki  grochowiec wielki
1          pancernik          pancernik

   original most_freq
0     mirow     mirow
1  sokoliki  sokoliki

           original         most_freq
0  dolina bedkowska  dolina bedkowska

     original   most_freq
0   podzamcze   podzamcze
1  suchy poec  suchy poec

          original        most_freq
0  dolina wiercicy  dolina wiercicy
1      suliszowice      suliszowice

      original    most_freq
0  wielka skaa  wielka skaa

  original most_freq
0   kanapa    kanapa

            original          most_freq
0          bedkowska          bedkowska
1  dolina kobylanska  dolina kobylanska
2     sokoli grzbiet     sokoli grzbiet

      original    most_freq
0  wielka skaa  wielka skaa

        original      most_freq
0  dol bedkowska  dol bedkowska

     original   most_freq
0  polrzeczki  polrzeczki

     original   most_freq
0  strzelnica  strzelnica

      original    most_freq
0  gora zborow  gora zborow
1    podlesice    podlesice

     original   most_freq
0  grochowiec  grochowiec

      original    most_freq
0  ladek zdroj  ladek zdroj

          original        most_freq
0  dolina wiercicy  dolina wiercicy
1        ostreznik        ostreznik

    original  most_freq
0  podzamcze  podzamcze

     original   most_freq
0  przy zamku  przy zamku

          original        most_freq
0  dolina wiercicy  dolina wiercicy

    original  most_freq
0    kooczek    kooczek
1  podlesice  podlesice
2   sokoliki   sokoliki

    original  most_freq
0   dziewica   dziewica
1  podlesice  podlesice

      original    most_freq
0  krucze skay  krucze skay
1  ladek zdroj  ladek zdroj
2     yse skay     yse skay

         original       most_freq
0  sokoli grzbiet  sokoli grzbiet

     original   most_freq
0  rzedkowice  rzedkowice

  original most_freq
0  balkony   balkony

  original most_freq
0     jura      jura

     original   most_freq
0  rzedkowice  rzedkowice

  original most_freq
0    mnich     mnich

         original       most_freq
0  dol kobylanska  dol kobylanska
1     ladek zdroj     ladek zdroj

           original         most_freq
0              baba              baba
1        bialy pies        bialy pies
2  proxima centauri  proxima centauri

     original   most_freq
0        jura        jura
1  polrzeczki  polrzeczki

           original         most_freq
0     filar abazego     filar abazego
1  filar pokutnikow  filar pokutnikow

         original       most_freq
0  dol kobylanska  dol kobylanska

       original     most_freq
0  gora kooczek  gora kooczek

    original  most_freq
0  kapliczka  kapliczka

     original   most_freq
0  rzedkowice  rzedkowice

    original  most_freq
0  kamieniec  kamieniec

   original most_freq
0  kramnica  kramnica
1   obazowa   obazowa

        original      most_freq
0  soneczne skay  soneczne skay

      original    most_freq
0  sokole gory  sokole gory

  original most_freq
0  abajowa   abajowa

      original    most_freq
0  brzoskwinia  brzoskwinia

             original           most_freq
0         brzoskwinia         brzoskwinia
1  dolina brzoskwinki  dolina brzoskwinki

            original          most_freq
0  dolina kobylanska  dolina kobylanska

  original most_freq
0  przadki   przadki

          original        most_freq
0  dolina szklarki  dolina szklarki

      original    most_freq
0  wielka skaa  wielka skaa

    original  most_freq
0       jura       jura
1  podzamcze  podzamcze

            original          most_freq
0  dolina kobylanska  dolina kobylanska

     original   most_freq
0  rzedkowice  rzedkowice

  original most_freq
0   boniek    boniek

    original  most_freq
0  sloneczne  sloneczne

   original most_freq
0  sokoliki  sokoliki

             original           most_freq
0         brzoskwinia         brzoskwinia
1  dolina brzoskwinki  dolina brzoskwinki

           original         most_freq
0  dolina bedkowska  dolina bedkowska

         original       most_freq
0   dol bedkowska   dol bedkowska
1  dol kobylanska  dol kobylanska

         original       most_freq
0  dol kobylanska  dol kobylanska

  original most_freq
0    grota     grota

      original    most_freq
0      kooczek      kooczek
1  gora zborow  gora zborow

  original most_freq
0    mirow     mirow

          original        most_freq
0  dolina wiercicy  dolina wiercicy
1      suliszowice      suliszowice

     original   most_freq
0  kacza skaa  kacza skaa
1     wzgorze     wzgorze

   original most_freq
0  sokoliki  sokoliki

   original most_freq
0  sokoliki  sokoliki

   original most_freq
0  stryszow  stryszow

   original most_freq
0  pochylec  pochylec

           original         most_freq
0  dolina bedkowska  dolina bedkowska
1        dupa sonia        dupa sonia

             original           most_freq
0  dolina brzoskwinki  dolina brzoskwinki
1        gora kooczek        gora kooczek
2           podlesice           podlesice

        original      most_freq
0  soneczne skay  soneczne skay

   original most_freq
0  stokowka  stokowka

   original most_freq
0  sokoliki  sokoliki

   original most_freq
0  labajowa  labajowa
1    wysoka    wysoka

     original   most_freq
0  goncerzyca  goncerzyca

   original most_freq
0  sokoliki  sokoliki

            original          most_freq
0  dolina kobylanska  dolina kobylanska

  original most_freq
0    petwa     petwa

    original  most_freq
0  podlesice  podlesice

  original most_freq
0  kooczek   kooczek

          original        most_freq
0  dolina szklarki  dolina szklarki
1    soneczne skay    soneczne skay

      original    most_freq
0  gora zborow  gora zborow
1    podlesice    podlesice

         original       most_freq
0  dol kobylanska  dol kobylanska

   original most_freq
0  sokoliki  sokoliki

           original         most_freq
0  dolina bedkowska  dolina bedkowska

        original      most_freq
0        szklary        szklary
1  witkowe skaly  witkowe skaly

             original           most_freq
0         brzoskwinia         brzoskwinia
1  dolina brzoskwinki  dolina brzoskwinki

      original    most_freq
0  wielka skaa  wielka skaa

    original  most_freq
0  la grotta  la grotta

            original          most_freq
0     chochoowe skay     chochoowe skay
1  dolina kobylanska  dolina kobylanska

   original most_freq
0  big wall  big wall

           original         most_freq
0  dolina bedkowska  dolina bedkowska

     original   most_freq
0  rzedkowice  rzedkowice

            original          most_freq
0  dolina kobylanska  dolina kobylanska

         original       most_freq
0  sokoli grzbiet  sokoli grzbiet

       original     most_freq
0  gora kooczek  gora kooczek

  original most_freq
0   racuch    racuch

       original     most_freq
0  dol szklarki  dol szklarki

       original     most_freq
0      sokoliki      sokoliki
1  zamkowe skay  zamkowe skay

             original           most_freq
0  dolina brzoskwinki  dolina brzoskwinki

     original   most_freq
0  strzelnica  strzelnica

        original      most_freq
0           kula           kula
1  wronia baszta  wronia baszta

           original         most_freq
0  dolina bedkowska  dolina bedkowska

           original         most_freq
0  dolina bedkowska  dolina bedkowska

      original    most_freq
0  krucze skay  krucze skay

   original most_freq
0  yse skay  yse skay

             original           most_freq
0  skala nad potokiem  skala nad potokiem

  original most_freq
0   roznow    roznow

       original     most_freq
0  witkowe skay  witkowe skay

          original        most_freq
0  dolina wiercicy  dolina wiercicy

      original    most_freq
0  sokole gory  sokole gory

   original most_freq
0  sokoliki  sokoliki

  original most_freq
0  kooczek   kooczek

     original   most_freq
0  popielarka  popielarka

           original         most_freq
0  dolina bedkowska  dolina bedkowska

      original    most_freq
0  sokole gory  sokole gory

  original most_freq
0  pazurek   pazurek

        original      most_freq
0  park jurajski  park jurajski

  original most_freq
0  przadki   przadki

  original most_freq
0  przadki   przadki

     original   most_freq
0  rzedkowice  rzedkowice

          original        most_freq
0  dolina szklarki  dolina szklarki

    original  most_freq
0  podlesice  podlesice

     original   most_freq
0  dupa sonia  dupa sonia

      original    most_freq
0  krucze skay  krucze skay

  original most_freq
0     jura      jura

            original          most_freq
0  dolina kobylanska  dolina kobylanska

     original   most_freq
0  strzelnica  strzelnica

           original         most_freq
0  dolina bedkowska  dolina bedkowska

           original         most_freq
0  dolina bedkowska  dolina bedkowska

  original most_freq
0  przadki   przadki

     original   most_freq
0  biblioteka  biblioteka

           original         most_freq
0  dolina bedkowska  dolina bedkowska

              original            most_freq
0  dolina bolechowicka  dolina bolechowicka

              original            most_freq
0  dolina bolechowicka  dolina bolechowicka

      original    most_freq
0  gora zborow  gora zborow

              original            most_freq
0  dolina bolechowicka  dolina bolechowicka

     original   most_freq
0  strzelnica  strzelnica

         original       most_freq
0  dol kobylanska  dol kobylanska

      original    most_freq
0  gora zborow  gora zborow

       original     most_freq
0  gora kooczek  gora kooczek
1     podlesice     podlesice

  original most_freq
0   kanapa    kanapa

     original   most_freq
0  polrzeczki  polrzeczki

      original    most_freq
0  gora zborow  gora zborow

           original         most_freq
0  dolina bedkowska  dolina bedkowska

         original       most_freq
0  dol kobylanska  dol kobylanska

  original most_freq
0     jura      jura

       original     most_freq
0  gora kooczek  gora kooczek

             original           most_freq
0         brzoskwinia         brzoskwinia
1  dolina brzoskwinki  dolina brzoskwinki

        original      most_freq
0    gora zborow    gora zborow
1  krzywe baszty  krzywe baszty

      original    most_freq
0  gora zborow  gora zborow

     original   most_freq
0  gora birow  gora birow

           original         most_freq
0  dolina bedkowska  dolina bedkowska

              original            most_freq
0     dolina bedkowska     dolina bedkowska
1  dolina bolechowicka  dolina bolechowicka

      original    most_freq
0  sokole gory  sokole gory

  original most_freq
0   apteka    apteka

         original       most_freq
0  dol kobylanska  dol kobylanska

     original   most_freq
0  strzelnica  strzelnica

              original            most_freq
0  dolina bolechowicka  dolina bolechowicka

     original   most_freq
0  gora birow  gora birow

  original most_freq
0    mirow     mirow

    original  most_freq
0  podlesice  podlesice

   original most_freq
0  stokowka  stokowka

      original    most_freq
0  sokole gory  sokole gory

   original most_freq
0  pochylec  pochylec

    original  most_freq
0  kamieniec  kamieniec

  original most_freq
0  przadki   przadki

     original   most_freq
0  rzedkowice  rzedkowice

   original most_freq
0  sokoliki  sokoliki

      original    most_freq
0  wielka skaa  wielka skaa

           original         most_freq
0  dolina bedkowska  dolina bedkowska

           original         most_freq
0  dolina bedkowska  dolina bedkowska

      original    most_freq
0  suliszowice  suliszowice

     original   most_freq
0  rzedkowice  rzedkowice

    original  most_freq
0  pielgrzym  pielgrzym

         original       most_freq
0  dol kobylanska  dol kobylanska

     original   most_freq
0  rzedkowice  rzedkowice

      original    most_freq
0  gora zborow  gora zborow

        original      most_freq
0  mala zegarowa  mala zegarowa

           original         most_freq
0  dolina bedkowska  dolina bedkowska

        original      most_freq
0  soneczne skay  soneczne skay

           original         most_freq
0  dolina bedkowska  dolina bedkowska

                      original                    most_freq
0  straznica przewodziszowicka  straznica przewodziszowicka

     original   most_freq
0  rzedkowice  rzedkowice

      original    most_freq
0  gora zborow  gora zborow

           original         most_freq
0  dolina bedkowska  dolina bedkowska

  original most_freq
0  pazurek   pazurek

       original     most_freq
0  dol szklarki  dol szklarki

   original most_freq
0  jaroniec  jaroniec

     original   most_freq
0  biblioteka  biblioteka

  original most_freq
0   organy    organy

   original most_freq
0  sokoliki  sokoliki

   original most_freq
0  mamutowa  mamutowa

   original most_freq
0  okiennik  okiennik

      original    most_freq
0  ladek zdroj  ladek zdroj

    original  most_freq
0  podlesice  podlesice

    original  most_freq
0  podlesice  podlesice

  original most_freq
0  przadki   przadki

  original most_freq
0  przadki   przadki

    original  most_freq
0  podzamcze  podzamcze

    original  most_freq
0  podzamcze  podzamcze

       original     most_freq
0  zielona gora  zielona gora

      original    most_freq
0  ladek zdroj  ladek zdroj

    original  most_freq
0  straznica  straznica

  original most_freq
0    mirow     mirow

  original most_freq
0    birow     birow

       original     most_freq
0  gora kooczek  gora kooczek

        original      most_freq
0  dol bedkowska  dol bedkowska

    original  most_freq
0  podlesice  podlesice

     original   most_freq
0  gora birow  gora birow

  original most_freq
0   roznow    roznow

    original  most_freq
0  podzamcze  podzamcze

       original     most_freq
0  gora kooczek  gora kooczek

    original  most_freq
0  podzamcze  podzamcze

    original  most_freq
0  podlesice  podlesice

     original   most_freq
0  strzelnica  strzelnica

    original  most_freq
0  podzamcze  podzamcze

KeyboardInterrupt:

This is an impressive improvement compared with the >12 h that we got before