In [1]:
from lib.climber_class import *

# User

We need to create a user with this same route features
- Grade
- Location
- Cluster
- Heigh

#### Climber atributes

In [2]:
climber_1 = climber('jordi',44,3,['rum','eidas','ajs niod'],165)
climber_2 = climber()
display(climber_1.get_data())
display(climber_2.get_data())

Climber class initialized
Climber class initialized

,climber_id,name,ascents,grade_fra,grade,grade_range,country,crag,sector,height
0,0,jordi,0,6b+/6c,44,3,rum,eidas,ajs niod,165

,climber_id,name,ascents,grade_fra,grade,grade_range,country,crag,sector,height
0,1,climber1,0,7b/+,54,2,esp,montserrat,agulla del senglar,170

In [3]:
climber_1.set_attributes(grade = 29)
climber_2.set_attributes(grade_range = 1)
display(climber_1.get_data())
display(climber_2.get_data())

,climber_id,name,ascents,grade_fra,grade,grade_range,country,crag,sector,height
0,0,jordi,0,5,29,3,rum,eidas,ajs niod,165

,climber_id,name,ascents,grade_fra,grade,grade_range,country,crag,sector,height
0,1,climber1,0,7b/+,54,1,esp,montserrat,agulla del senglar,170

#### For routes

In [6]:
routes = pd.read_csv('../../data/routes_clustered.csv',low_memory=False, index_col=0)

In [7]:
climber_1.add_route_liked(routes.iloc[[13403]])
climber_1.add_route_not_liked(routes.tail(2))
climber_1.add_route(routes.head(1))
display("Routes liked:",climber_1.get_routes_liked())
print()
print()
display("Routes not liked:",climber_1.get_routes_climbed())

'Routes liked:'

,name_id,country,crag,sector,name,ascents_count,repeat_sum,recommend_sum,tall_recommend_sum,grade_mean,sentiment_mean,rating_mean,yellow_id_mean,first_ascent_mean,cluster,liked
13403,13403,esp,cocentaina,mas de la penya,demolition man,8,0.0,0.0,0,46.75,-0.270982,2.5,223.125,0.0,1,Yes

'Routes not liked:'

,name_id,country,crag,sector,name,ascents_count,repeat_sum,recommend_sum,tall_recommend_sum,grade_mean,sentiment_mean,rating_mean,yellow_id_mean,first_ascent_mean,cluster,liked
13403,13403,esp,cocentaina,mas de la penya,demolition man,8,0.0,0.0,0,46.75,-0.270982,2.5,223.125,0.0,1,Yes
0,0,and,montserrat,prohibitivo,diagonal de la x,4,0.0,0.0,-1,49.25,0.000000,2.0,0.000,0.0,0,N/A
55856,55856,zaf,van stadens,cleopatra wall,tekel,2,0.0,1.0,0,44.00,NaN,2.0,0.000,0.0,0,No
55857,55857,zaf,waterval boven,baboon buttress,pretenders,2,0.0,1.0,0,49.00,0.802000,NaN,255.000,0.0,1,No

Is route already in?

In [8]:
climber_1.add_route_not_liked(routes.tail(100))

In [9]:
climber_1.add_route_liked(routes.head(100))

#### For clusters

In [10]:
climber_1.cluster

[46, -44, 0, -3]

In [11]:
climber_1.get_cluster_order()

[0, 2, 3, 1]

In [12]:
lst = climber_1.get_cluster_order()
[lst[len(lst)-idx-1] for idx in range(len(lst))]

[1, 3, 2, 0]

In [13]:
len(lst)

4

In [14]:
climber_1.add_route_liked(routes.head(1346456))

In [15]:
climber_1.cluster

[27113, 25373, 1520, 1851]

In [16]:
climber_1.get_cluster_order()

[0, 1, 3, 2]

In [17]:
climber_1.clear_routes()
display(climber_1.get_routes_climbed())

Empty DataFrame
Columns: [name_id, country, crag, sector, name, ascents_count, repeat_sum, recommend_sum, tall_recommend_sum, grade_mean, sentiment_mean, rating_mean, yellow_id_mean, first_ascent_mean, cluster, liked]
Index: []